[2017-05-04 18:01] aldenhart commented on #275
It's an error. It should be 230. This will be included in a subsequent PR.

[2017-05-11 00:00] jonbob0687 commented on #188
Hi all,

After much reading through code in my case it was a simple front end error.

In ChiliPeppr when the gcode was being loaded, it was pre-processing the gcode to add line numbers (N numbers). I guess this strips out any 'N#' from the file and re-numbers as it sees fit. so it stripped out the "n1" from the line M101 ({in1:t}) leaving M101 ({i:t}) which was subtle and not what i needed.

![mis

[2017-05-11 00:10] chilipeppr commented on #188
Chilipeppr adds line numbers so you can see accurate reports on lines
executed. With no line numbers you get no information from tinyg. Also only
io calls is not chilipeppr acting weird. My gut is that chilipeppr just has
no idea what tinyg is doing cause no line numbers

[2017-05-11 03:26] giseburt commented on #274
You can use either in this configuration. UART can be the primary channel.

If you wish you can have this in your setting file:

[code]

And when a USB connection is opened (not just the physical connection, but
the software opening the port), the UART will get a {"muted":true}, and
when it closes it'll send a {"muted":false}. When muted the UART will not
get any status reports, etc.

However, nor

[2017-05-11 14:33] gilbertoverg opened #277 "Question: how is it possible to include coordinate system offsets in status report?"
Hi, i'm trying to include coordinate system offsets in status report, i've changed STATUS_REPORT_DEFAULTS to:
[code]
but this is what i'm getting:
[code]
am i doing this right?

[2017-05-11 20:52] n81641 commented on #274
Got it, Thank you very much!

[2017-05-11 20:52] #274 closed

[2017-05-14 09:44] gilbertoverg commented on #255
This issue does not occur in master branch

[2017-05-14 09:54] aldenhart commented on #255
I see the moves you are using to produce the error. I'm trying to understand the timing a little better. What are you using the send the Gcode? I'd like to be able to reproduce your exact timing if I can.

Also, can you post some more information about your setup and settings? The settings file would be useful if that's where you set things, as would the settings dump.

[2017-05-14 11:09] gilbertoverg commented on #255
This is my settings file: [settings_ebe.txt](https://github.com/synthetos/g2/files/999264/settings_ebe.txt), i'm compiling with BOARD=gShield and i'm using an arduino due. To control my cnc machine i'm using a custom java application.
I can always generate the error with this timing:
Reset the arduino and open serial port
send: G90
send: F6000
send: G1 X25
pause 200 milliseconds
send: !
I've coded

[2017-05-16 06:47] gilbertoverg commented on #277
I've tried changing STATUS_REPORT_DEFAULTS to:
[code]
but i've received this error from the compiler:
[code]
so i've increased NV_BODY_LEN in config.h from 40 to 50 and it compiles ok, but when i try to send gcode to the machine i'm getting a status report every millisecond and some reports are missing:
[code]
What am I doing wrong?

[2017-05-20 01:02] jackclark1123 opened #278 "Enhancement: Create a Static RAM function to write data to Flash without crashing system"
G2 needs a way to re write flash while device is running. Presumably, once the JSON configurations are updated, they will be flashed to a known area of flash. We will probably need two version of the configurations in case of a partial write ( Not handle by my function ). Since my function will reside in RAM permanently, it needs to be as small as possible.

I propose to create create a static fun

[2017-05-23 03:03] gochisar opened #279 "Arduino Due wrong pinout"
Arduino Due "board_stepper.h"

`extern StepDirStepper<Motate::kSocket1_StepPinNumber,
                      Motate::kSocket1_DirPinNumber,
                      Motate::kSocket1_EnablePinNumber,
                      Motate::kSocket1_Microstep_0PinNumber,
                      Motate::kSocket1_Microstep_1PinNumber,
                      Motate::kSocket1_Microstep_2PinNumber,

[2017-05-23 03:55] gochisar opened #280 "gShield low current pin"
Arduino Due pin 2 (physical pin 144) is low current pin.
This is a problem. X axis losing steps. Pin and card configuration must be replace.

I am using external servo driver and logic voltage shifter. pin 2 capacitive voltage filling time is weak.

or can be internal pull_up resistor activation option may solution.

Whatever, best solution not use pin 2 as active pin.

[2017-06-04 03:06] benjamind commented on #126
I can confirm that this is still an issue. Replicated the behavior I had a year ago with today's master edge version.

[2017-06-04 03:16] benjamind commented on #232
Sadly @aldenhart this is not actually fixed. Same behavior with the input latching high when it should have released.

[2017-06-04 04:57] benjamind commented on #126
I did a bunch more investigation on this tonight. Its definitely the lockout that is causing the problem.

https://github.com/synthetos/g2/blob/edge/g2core/gpio.cpp#L120

If at any point you have a probe pin change that is faster than the lockout period then if that change caused the probe to latch to true, then it does not unlatch. I recorded a whole bunch of samples of this on my scope tonight,

[2017-06-04 05:52] benjamind commented on #126
I've also just discovered that I might have been wiring this up incorrectly.

I had wired this as a NO switch, the touchplate or my workpiece were wired to ground, and the probe was clipped to my bit. However, since I properly grounded and shielded my spindle and I have metal bearings when I connect the probe clip to the bit it gets pulled to ground immediately. Its not quite a perfect ground sinc

[2017-06-04 06:05] benjamind commented on #126
Ok that was mind numbingly obvious. Just reversed my wires and problem solved. I now have the DI5 GPIO connected to the plate or my workpiece, and the GND pin connected to my bit. Problem solved!

[2017-06-04 06:44] benjamind commented on #126
Spoke too soon. I'm giving up for the night, but it appears the lock timeout is still an issue. After switching my wires around it still managed to latch the pin state incorrectly. Commenting out the set lock line in gpio.cpp seems to have fixed this. However, when running a probing session I got about 8 probes in before everything froze and the board went into PANIC.

[code]

This may have just b

[2017-06-04 19:40] benjamind commented on #126
Back to it today.

After removing the lock timeout I've been able to do a couple of successful probing runs. However I'm still getting random failures, heres one:

[code]
In this case probing had been working fine, it starts another probe command, and we can see the z moving down to near zero, I then get the probing failed error, and the probe reports that we're at z-1.5 and then afterwards we get

[2017-06-04 20:34] giseburt commented on #126
Hi Ben,

I'm catching up with this thread.

It's not likely the lockout. This tripped me up a few times as well, but
the lockout isn't your typical Arduino-like denounce where you wait to see
what a switch lands on then act. Instead, what happens is, when there's an
edge it immediately takes action, *then* sets the lockout timer and ignores
any more edges during that time.

The assumption that mus

[2017-06-04 20:37] giseburt commented on #126
Oh, bad examples from me! I'll correct them in a minute.

Should be G38.2 Z-10 F200 to error (negative Z), and G38.3 Z-10 F200 for
the non-error (negative Z and 38 not 28).
On Sun, Jun 4, 2017 at 3:34 PM Rob Giseburt <giseburt@gmail.com> wrote:

[2017-06-04 20:53] benjamind commented on #126
So here's the scenario.

I am at Z2, my high-speed and normal jerk settings are the same so no worries there on the movement, and the z axis is not stalling. I am probing with G28.3 Z-1.5 F25.

The axis moves down from Z2 towards Z0, it touches at just above Z0, something like Z0.053. The probing immediately fails and it does not backoff. We then see a status report indicating we're now at Z-1.5 o

[2017-06-04 20:59] benjamind commented on #126
Ok working through the cycle_probing.cpp and the gpio.cpp implementations its clear that removing the timeout is causing the issue above. However what can we do about the timeout causing the pin state to remain high? When do you resample the pin if the pin returns to non active state during the timeout?

[2017-06-04 21:00] benjamind commented on #126
I do really think that you need to register a function to be called after the timeout expires, such that you can then re-sample the pin to ensure that you catch the case of the pin going low then returning high during the timeout window.

[2017-06-04 21:23] giseburt commented on #126
If there is a pulse of the signal then there is an electrical error. I do
agree that we need a periodic check to ensure rhat, after the timeout, the
signal state is what it was before the edge. It wouldn't help you much in
this case since the action to take if it's found to have changed is to
throw an error.

Just for the sake of example, and let's say the switches are active low.
1) They are norm

[2017-06-04 22:23] benjamind commented on #126
The logic of your scenario is fine in a perfect environment. However, there's one edge case that you're not considering and I think is what I'm seeing here.

1. Z is lowered until contact is made closing the switch and moving the pin from high to low
2. edge transition is detected, action is taken and lockout is set
3. the bit moves away from the surface of the plate because its a spindle and can

[2017-06-05 00:04] benjamind commented on #126
Ok, so I reverted to the edge branch no changes and ran the following test with my scope attached to the DI5 input:

1. fresh state (just powered on and connected)
2. reset Z0 just to be sure (G28.3 Z0)
3. start probing with G38.2 Z-20 F21
4. struck the probe against the touchplate
5. Captured of the touch event
 ![trace of di5 pin]
(https://lh3.googleusercontent.com/-ZPodzBEd8dhis69MNmzCcba2jls5y

[2017-06-16 04:12] benjamind commented on #126
Any further thoughts on this? Would love to get probing working properly.

[2017-06-16 15:40] aldenhart commented on #280
Thanks for the heads up.

[2017-06-16 15:40] #280 closed

[2017-06-16 15:41] aldenhart commented on #126
Ben, Still looking into this. Thanks for the ping.

[2017-06-16 15:42] benjamind commented on #126
Let me know if there is anything I can do to help / test.

[2017-06-16 15:43] giseburt commented on #126
Could you re-post that trace? In the github web interface you can drag images to the text entry box to upload them.

[2017-06-16 20:18] benjamind commented on #126
Sure thing:

![trace](https://user-images.githubusercontent.com/332843/27243367-56d08536-5296-11e7-8c2d-658787b23570.jpg)

[2017-06-16 20:29] giseburt commented on #126
So it looks like the pulse is ~3ms long? If you set the lockout to 1ms does
it work?

As long as you don't have any additional bounces after that 1ms it should
work. Baically you want the lockout to be more than any bounces and less
than when it'll legitimately go high again.
On Fri, Jun 16, 2017 at 3:18 PM Ben Delarre <notifications@github.com>
wrote:

[2017-06-16 21:30] benjamind commented on #126
No the pulse (the period when the signal is 'low') is about 25ms long. Its less than the lockout period. Each grid square on that trace is 5ms

[2017-06-17 13:38] pufamuf opened #281 ""Arduino Due" doesn't change to "TinyG V2" after flashing"
Hi everyone, I just flashed my Arduino Due R3 with the "Due+gShield V078.03" bin found [here](http://synthetos.github.io/g2/binaries/TinyG2_Due-edge-078.03-default.bin).

My arduino was on COM10, and thus I did the following stuff in Cmd.exe, and the installation was sucessfull.

However, the device manager still says I have an "Arduino Due Programming Port (COM10)" connected.

Any advice?

Thank

[2017-06-17 14:39] pufamuf commented on #281
Okay I have solved the issue now.
Something that the OSX guide mentions which the Windows guide does not, is that you need to disconnect the USB cable and plug it into the other port on Arduino due.

[2017-06-17 14:39] #281 closed

[2017-06-17 21:40] Tegeon commented on #126
It takes ~33msec for the whole touch-release cycle (signal edge-to-edge) based on the oscilloscope output, while the transition from H to L is very short, surely far less than a msec.
Once I started using optocouplers on my TinyG over a year ago, I had no single noise related issue  since that time. Possibly applying the same approach would help debugging, assuming electrical noise is not an issue

[2017-06-17 22:06] aldenhart commented on #126
Atmel ICE will do it. It's integrated with Atmel Studio and works with native GDB if you go that way

[2017-06-17 22:49] benjamind commented on #126
I think from looking at the code as long as the signal stays low for longer than the lockout time it should work. And I can confirm that if the signal goes back up to high before the lockout expires then it stays stuck high - that's a bug that definitely needs a fix but is probably separate from this issue.

[2017-06-23 12:31] JeppeIbsen opened #282 "Homing sequence not halted by endstop input"
Hi, I have experienced a couple of times where the endstop trigger failed to stop the homing movement in X and Y, causing a carriage crash. The problem disappears after a board reset.

The move starts by homing in the wrong direction, and after a few milimeters it changes direction and ignores endstop input.

I have however not been able reproduce the fault, but it causes me to be very nervous eve

[2017-06-23 12:39] JeppeIbsen opened #283 "Enhancement: Pause feature during 3D-printing"
Regarding the compatibility with 3D-printing software, like OctoPrint:
The 'Pause print' button causes alarms to be triggered by the g2 firmware, requiring a complete reset of both OctoPrint and the controller.

Being able to pause and move a FDM 3D-print is a critical feature, as simply using feedhold ( ! ) causes the stationary nozzle to ooze - creating a buldge which requires the entire print t

[2017-06-23 20:17] giseburt commented on #283
We have already started work in this direction. As far as OctoPrint, etc, goes, we need it to send a command that will inform the g2core that the host has paused.

Thank you for letting us know that this is wanted! You just gave it a 👍 .

[2017-07-14 03:14] ril3y opened #284 "$9 will not return an error code."
Attempting to access a motor outside of what the platform supports does not return an error code but rather nothing.

[2017-07-25 08:35] talpadk opened #287 "line mode protocol overflows when sending data without any delays"
Hi

I have written a small python script to send g-code data to the g2core but are getting what seems to be overflow errors in the g2core:
{“er”:{“fb”:100.26,”st”:28,”msg”:”Failed to get planner buffer – mp_get_write_buffer()”}}
{“er”:{“fb”:100.26,”st”:36,”msg”:”Failed to get planner buffer – aline()”}}

I have previously asked for help on:
https://www.synthetos.com/topics/g2core-line-mode-protoco

[2017-07-25 09:12] talpadk commented on #287
While reading https://github.com/synthetos/g2/wiki/g2core-Communications specifically:

it hit me that the **g2core might mistake {"gc": line as control line.**

Indeed if I don't wrap the g-code in json the g2core works like expected without any delays and with multiple bursts enabled too.

P.S. also the first

Could also be seen as problematic as it is an {"r" response without any "cause"
(I'm a

[2017-07-25 13:31] giseburt commented on #287
You are correct. The {"gc":...} JSON is not intended to be used externally
except in rare conditions. JSON is seen as "control" before the contents
are parsed.

Due to how we separate control from data in the incoming buffer it would
require duplicating part of the JSON parser (and the related performance
impact) to identify different types of JSON, so for now we simply consider
it all control.

T

[2017-07-25 16:57] talpadk commented on #287
I'm considering updating the wiki pages with notices that one should not send g-code using json.
(If no one objects)

g2coregui isn't much to behold quite yet

[2017-07-25 17:04] giseburt commented on #287
No objections here. Much appreciated.
On Tue, Jul 25, 2017 at 12:02 PM Visti Andresen <notifications@github.com>
wrote:

[2017-07-28 10:04] amx1 opened #288 "Comments on latest dev-168-gquintic"
@aldenhart and @giseburt

Dear Alden, dear Rob,
I saw that you are working on dev-168-gquintic quite a lot. I am happy with 100.26 on Due and my own Shield using it for milling on a CNC3040. It is really cool and stable, but I was curious and compiled the latest version of dev-168-gquintic with my settings. It is working stable, but I found there is at least one of the latest commits missing: http

[2017-07-28 22:28] giseburt commented on #288
Hi @amx1 ,

There's a lot of questions in there. I see you're watching pretty closely. ;)

I'll look into that, but the G20 commands should either already be merged into dev-168-gquintic or will be when we merge it to edge.

We are testing a new DDA algorithm. There are actually two separate enhancements that we are testing. One is that we adjusted where in the DDA we encode the time, simplifying

[2017-07-30 10:43] amx1 commented on #288
Dear Rob,

thank you for the detailed answer. I am very happy with the software. Some feed back from my side why I am curious about the code changes. Up to now I am using it for milling only. I designed a simple break out board with a "Mach compatible pinout"  DB25 connector  for a 5-axis 4,5 A driver board (just some drivers and level shifting). The pitfall was, that I forgot that the driver boar

[2017-08-03 08:31] talpadk commented on #287
I'm closing this issue as the behaviour can be described as a design decision.

Also I'm done updating the wiki to prevent others from having to experiencing this issue.

[2017-08-03 08:31] #287 closed

[2017-08-06 12:44] mrzk opened #289 "Wrong steps"
Hello
I've been testing my CNC device for last 2 weeks. I noticed that there are some incorrect movements on CNC device. At first I thought the problem could be the drivers, but after changing them the problem persists. After a few days of trying different things, I ended up counting step pulses generated by g2. I was shocked when I saw for different values of feedrate, there are different number

[2017-08-06 14:38] giseburt commented on #289
What version and branch of the code are you using? There's some wildly experimental stuff in dev-168-gquintic involving steps.

[2017-08-07 06:02] mrzk commented on #289
The latest version of master branch

[2017-08-07 06:16] giseburt commented on #289
Try the latest commit of edge. We'll be pushing it to master soon. We only need to go though and clean up the readme and update the changelog.

[2017-08-07 06:26] mrzk commented on #289
Ok. I will try it and come back with the results

[2017-08-07 09:15] mrzk commented on #289
The problem still exists :/

[2017-08-07 12:40] giseburt commented on #289
And just to be thorough, you're counting positive to negative transitions on the step line *while* the corresponding enable line is *low*? And you're using the polarity of the direction line to detect which direction to count the pulse towards?

[2017-08-08 08:14] mrzk commented on #289
This is the test scenario I'm testing g2 on arduino due with:
1. Reset counter value (cnt = 0)
2. Move 1mm despite moving direction
3. Print and log both rising edge and falling edge counters (The program only counts pulses if enable pin is LOW)
4. Repeat above mentioned steps again in other direction (optional)

[2017-08-10 10:07] mrzk commented on #289
Does anyone have any idea how can I resolve this problem?

[2017-08-10 20:01] giseburt commented on #289
Hello again. I haven't been able to reproduce this issue but are still working on it.

I wanted to let you know that we take thi s very seriously. We have gone to great length to ensure that step integrity (both count and timing) is maintained. We even have a virtual encoder built into the code that is constantly checking and (if necessary) correcting the step counts. Only in the latest few commit

[2017-08-11 11:31] mrzk commented on #289
Thanks Rob for your hard work on this project. I will test it again tomorrow and record outputs using digital oscilloscope in case they are needed for diagnostics. I didn't know about those internal commands before, I will compare them with real-time output and report back the results

[2017-08-12 09:06] mrzk commented on #289
This is the result for a movement with feedrate of 1000, micro step of 16 and maximum jerk of 50 million mm/cm3.
`G1 F1000 Y3000  (Initial position is 0)`
Last few lines of status report:
`line:0,posx:0.000,posy:2986.901,posz:0.000,feed:1000.00,vel:1000.00,unit:1,coor:1,dist:0,stat:5,_ts2:1911616.75,_ps2:1911600.75,_cs2:1911584.88,_es2:1911585.00,_xs2:0.00,_fe2:0.12
line:0,posx:0.000,posy:2987.748

[2017-08-12 09:37] giseburt commented on #289
Is this edge? Or dev-168-gquintic?
On Sat, Aug 12, 2017 at 4:06 AM Mohammadreza Khalili <
notifications@github.com> wrote:

[2017-08-12 09:50] mrzk commented on #289
My bad! It was master branch. Let me program edge and check the results again

[2017-08-12 10:02] mrzk commented on #289
It seems to be working fine. I'll keep testing it to make sure it works well as I ruined one of my client's wooden work because of this problem :(

[2017-08-12 17:38] Basti504 opened #290 "Motor enable signal and first motion"
Hello,

Currently I am using the TinyG2 (FW 100.26) on the Arduino Due to control a X,Y,Z CNC table. It works great, but today I started using the motor enable pins because I do not want the motors to be energized the whole time.

But I noticed in jogging mode that it looks like when I initiate a motion, the enable and step are set at the same time. The external stepper drive seems to not be able

[2017-08-23 13:56] cmcgrath5035 commented on #290
While you wait for RobG to comment, you may want to add some info on your DUE to Leadshine interface.
Are you level translating DUE to at least 5V ("TTL Logic")?
I see on the Leadshine specs that the nominal input current for step, dir and enable is 10ma.
You will not get 10ma directly from a DUE (3.3V logic and no much current drive capability), but you may be seeing marginal signal turn-on of DU

[2017-08-23 21:34] amx1 opened #291 "Question: purpose of jog commands"
Dear Rob,

what is the purpose and behaviour of the jog commands? e.g. {"jog":{"x":100}} I understand that this moves the axis to position 100 mm at max speed in absolute coordinates saving and restoring the actual state of the machine. Does it have advantages to implement a jog-wheel?

Best

[2017-08-24 14:48] Basti504 commented on #290
Thanks for your reply.

To command the 5V drives from the 3.3V outputs I made the following circuit for DIR,PUL and ENA circuits. The 270 ohm resistor and LED are part of the Leadshine drive, the LED is actually an opto-coupler.

![Image](http://i.imgur.com/cb0dUQc.png)

I do not have access to a scope to measure the actual outputs. If there is a software way of measuring this? I might be able to

[2017-08-24 15:26] giseburt commented on #290
Hello. Sorry for the slow reply.

It should be possible to implement a delay after motor enable, but it will
be tricky. Currently, the motor enable is embedded into the step generator
preparation phase, so the enable and direction change happens between
segments and may be immediately before a step.

For the Due it's configured to have a 200khz step tick, so that should mean
a minimal 5us delay af

[2017-08-24 17:00] cmcgrath5035 commented on #290
Basti504 - The open collector schematic you show should work for step and dir, but you will need to invert the Enable signal, since the tinyG/G2core enable as active Low.
Does the Leadshine work OK if you leave enable disconnected?
PS, See https://plus.google.com/communities/103099267575816902412, someone else doing something similar. I used 2N7000 FETs rather than bipolars.

The set-up time for t

[2017-08-25 12:09] Basti504 commented on #290
Thanks for both the replies.

I just re-checked the behaviour of the enable signal being connected to the G2.

* Having the enable signals NOT connected makes the drive enabled by default. So if the enable signal is not connected it enables the drive. This seems to contradict the manual, but the manual is also not really clear in this part.

* Also having the enable signals connected, when I jog t

[2017-08-25 13:02] cmcgrath5035 commented on #290
I understand your confusion, but to me the statement

is clear and matches your reported behavior.
It is straightforward for the Driver design to be biased in such a way that if no connection is made to the ENA input, the state is ENABLED.

G2core (and tinyG) are designed to interface to on-board driver devices which expect ENABLE to be active low. The Leadshine and many similar external Stepper d

[2017-08-29 00:17] pbannister opened #292 "Getting started with g2core for 3D printing."
This is a bit of a meta-issue, as I have not found a discussion forum (as yet) for g2core.

My interest is in using g2core for 3D printing. From the commit history, my impression is that support for 3D printing might not yet be quite entirely there ... though the Printrboard folk must be shipping something.

If some work/contribution on my part is needed to push things forward from almost-there, I

[2017-08-29 02:17] giseburt commented on #292
We indeed have 3D Printing working. The only currently shipping hardware is the [Printrbot Printrboard G2](https://printrbot.com/shop/printrboard-g2/).

We also have [Marlin-compatibility](https://github.com/synthetos/g2/wiki/Marlin-Compatibility) in place, allowing one to use g2core as a drop-in replacement for Marlin-compatible controllers.

If you have any more questions on how things work, ple

[2017-09-02 15:36] Mark-81 commented on #195
Does the "laser mode" is now available in g2?

[2017-09-12 13:55] DaveyRance commented on #169
Any Idea when this will be pushed into one of the newer builds. Or should i roll back to this from .128

[2017-09-14 18:44] cmcgrath5035 commented on #290
I am working on a wiki page covering this, perhaps it will help

https://github.com/synthetos/g2/wiki/G2core-on-DUE---External-Interfaces

[2017-09-19 22:49] cmcgrath5035 commented on #290
I am working on a wiki page to help folks implement the DUE to external interface.
Perhaps it will help here

[2017-09-25 11:44] somethingneweveryday opened #293 "A Axis not moving during G2/G3 moves"
Greetings all,
I've taken on the challenge of building a tangential knife machine, and I was hoping to use g2 firmware for control. Over the course of the day I've been able to get a reasonable grasp of g2, and have a setup that allows A axis rotation during G1 moves. What I haven't yet been able to achieve, is A axis rotation during G2/G3 moves. The following code sees the XY arc move completed f

[2017-09-26 16:32] aldenhart commented on #293
That's an interesting one. Let me check this out and report back.

[2017-09-27 02:17] somethingneweveryday commented on #293
thanks @aldenhart... would really like to be able to use G2. The more I play with it, the more I realize how awesome it is.

[2017-09-27 02:20] aldenhart commented on #293
A lot of work has gone into it. I'm glad you are enjoying it. I have some tests to run. The number of edge cases in Gcode is enormous.

[2017-09-27 02:54] somethingneweveryday commented on #293
I can only imagine the amount of work that must have gone into G2. And the fact that it is open source, really is amazing.
I've spent a reasonable percentage of my working life building CNC machines commercially. Typically we would spend many thousands of dollars for controllers that don't have all the features offered by G2.
Well done to everyone involved.

[2017-10-05 12:19] dumpguy commented on #163
Not sure if my problem is really the same, but I´d say it still exists.
Had errors:

[code]

Found out the cloning of the g2 repository with GitHub Desktop (on Windows10) doesn´t download the win32 folder and files. Followed Iquiroz workaround, but had to rename the directory /arm-none-eabi to /gcc-arm-none-eabi.

[2017-10-05 12:57] dumpguy commented on #163
By the way, cloning the /Motate/ directory from git repo (located at https://github.com/synthetos/Motate) also doesn´t contain the /win32 folder.

[2017-10-06 06:49] nitm07 commented on #292
I am using the gshield v5b for controlling a stepper motor. The gshield is mounted on an Arduino Due. When I connect the arduino to the PC using the native USB port I am not able to see TinyG V2 on the device manager. Because of this I'm not able to install the drivers. How do I proceed? Urgent.

[2017-10-06 20:58] dumpguy commented on #181
The present g2 edge repository still has a motate.mk with the above decribed issue, to be found in line no. 450: $(QUIET)$(NM) "$(OUTPUT_BIN).elf" >"$(OUTPUT_BIN).elf.txt"

[2017-10-07 08:37] dumpguy commented on #163
Found obviously the reason for my problems. After switching to the admin account on my PC, cloning once more the g2 repository and starting Atmel Studio 7 from scratch and origin 'g2core.atsln', the project build started as expected.

Relevant output as follows:

[code]

[2017-10-12 19:49] vaughanatworld opened #294 "missing definitions HOT_FUNC, HOT_DATA"
Compile problems: missing definitions for "HOT_FUNC" and "HOT_DATA"

Development environment: win10, AtmelStudio 7, gcc-arm-none-eabi-5_4-2016q2-20160622-win32, git branch dev_168-gquintic, d377b16.

If I were using Xcode would I avoid these problems?
Any help is welcome.
Many thanks.
Brian

[2017-10-12 21:13] ril3y commented on #294
Yes,  This is a issue with compiling in windows I have ran into this.  I
think you can remove those "decorators" or
whatever and it will build.  But it does come at the cost of optimizations
i think.

@rob what do you think?

On Thu, Oct 12, 2017 at 3:49 PM, vaughanatworld <notifications@github.com>
wrote:

[2017-10-13 01:10] vaughanatworld commented on #294
Here are all the changes I made to get the solution to compile without errors. The  //bav are my markers for changes. It would be nice to have a proper definition for HOT_DATA.

  C:\Users\Brian\Documents\GitHub\g2\g2core\plan_line.cpp(740):                delta = std::max(delta, (float)fabs(bf->junction_unit[axis] - bf->nx->unit[axis])); // formula (1) //bav
  C:\Users\Brian\Documents\GitHub\g2\g

[2017-10-21 19:21] mateoarv opened #295 "Planner not doing its job with G1 commands?"
Hello, i recently flashed my arduino due with the edge branch firmware. However, i noticed that even though i send multiple lines at a time, the planner doesn't seem to "plan". For example, if I send the lines:

G1 F1000
X10
X20 Y10

The X axis shouldn't stop between lines 2 and 3, but it does. This is a problem when trying to send PCB gcodes which are mostly composed by G1 commands, the result is

[2017-10-22 00:08] ril3y commented on #295
This is most likely because tinyg has planned the movement and you are not
sending the next line fast enough.  AKA the input buffer is starving.

Riley

On Sat, Oct 21, 2017 at 3:21 PM, mateoarv <notifications@github.com> wrote:

[2017-10-22 01:30] giseburt commented on #295
There are several things this could be.

1) You’ll need to be more specific about “stop between lines.” Is it going
through the 90º turn slowly? That would be adjusted with {jt:n} and the X
and Y jerk settings. It should only be coming to a complete stop if:

2) How quickly is “multiple lines at a time” sending the lines? Chilipepr
and Coolterm both introduce delays between lines. These are rarely

[2017-10-22 01:32] giseburt commented on #294
I thought the correction for this had been pushed already. I’m sorry you’re
seeing this. I’ll look into it shortly.
On Thu, Oct 12, 2017 at 8:10 PM vaughanatworld <notifications@github.com>
wrote:

[2017-10-22 01:37] giseburt commented on #292
@nitm07 I’m sorry we didn’t see this. This is sorta in the wrong place, on an issue about 3D printing.

Could you open this into a new issue? We’ll need a few more details, such as which OS are your on (Windows 10, OS X)?, are you connecting via USB C?, how are you powering the Due and the gShield?, etc.

Thank you,
  -Rob

[2017-10-22 16:43] mateoarv commented on #295
Hi, thank you both for the answer. About the input buffer starving, I think this may not be the case since this happens when using Chillipeppr too. Also, the serial terminal I'm using doesn't put delays between lines. I'm using the code from the edge branch with the gshield configuration.

Is there a way to change that 30ms delay to something higher to test if this is the source of the problem?

[2017-10-23 01:25] MitchBradley opened #296 "wpos precision loss in inches mode"
In inches mode, the work position report precision is 3 decimal places, which is not enough for some machines.  That results in imprecise position displays, loss of reports (when position changes are filtered out because of changes smaller than EPSILON3), and jog granularity problems.

I have a fix for this problem and will submit a pull request after I have cleaned up the changes.

[2017-10-23 15:24] giseburt commented on #296
Sounds good. Thank you for catching this.

[2017-10-25 00:41] mateoarv commented on #257
Just tried probing with the firmware from the edge branch, random errors everywhere, the caps didn't help either, it sometimes works, sometimes it doesn't.

[2017-10-27 18:51] giseburt opened #298 "Reading values with nested JSON changes values in inches mode"
When reading values with nested JSON (ex: `{x:{vm:n}}`) it apparently causes a set, but with the internal mm value. This changes the value when in inches mode, since it reinterprets the mm as inches.

[2017-10-30 21:04] Funkenjaeger commented on #237
I'm running 100.26 built from edge today; this is the first time I've gotten g2core running.  I am experiencing what sounds like the same or similar probing issue.

I have added a 4.7k pullup and 0.22uF cap to the probe input pin, which may or may not have helped a bit.

I did some further experimentation, and these are the symptoms I'm seeing - I think this is generally consistent with what other

[2017-11-05 23:47] brettnak commented on #273
Has this been merged yet?

[2017-11-11 08:39] mawildoer opened #300 "CAN GPIO"
Less an issue rather than the best forum I can find for this information, but I have recently developed a CAN GPIO network that I've implemented on my machine using the controller built into the DUE.

CAN is a fantastically noise resistant and capable of handling thousands of inputs using very little wire. We're currently working on boards with standard RJ45 jacks to use CAT6 Ethernet Cables to jo

[2017-11-13 08:13] pbannister opened #301 "Compiling g2core on various..."
I want to build g2core on a Raspberry Pi 3. There is a rationale...

I have a lashup for a 3D printer that consists of a Raspberry Pi 3, an Arduino Due, a RADDS board, and Trinamic 2208 stepper drivers. The Pi3 will run Octoprint. The Due will run g2core.

![img_20171110_171603](https://user-images.githubusercontent.com/213543/32712388-2309c5ae-c7f9-11e7-8318-3ac693f15c6e.jpg)

The Pi3 is connecte

[2017-11-13 15:20] giseburt commented on #301
I agree, being able to compile on an ARM SBC would be nice.

So, a little history: We use C++17 features, and we don't have a lot of time for tech support for compilers, so we "locked down" what compiler gets used in Motate by having it download the toolchain from ARM and install it locally in the repo. That way we know we're getting the compiler we tested with. (There's still, rarely, the OS diff

[2017-11-15 03:16] pbannister commented on #301
FWIW ... misadventures between ...

C++17(!?) ... punt on compiling on the Pi3, at least for now.

Made the mistake of accepting the latest MacOS update ... which hung, and
left my MacbookPro unable to boot. The restore from TimeMachine offered an
18 hour estimate. Started some experiments in the time between.

Wanted to spend the time with Google's cloud computing offering in any
case. Maybe do b

[2017-11-15 22:10] pbannister commented on #301
Ah. Builds on MacOS, not on Ubuntu. Checking the makefiles for Linux...

On Tue, Nov 14, 2017 at 7:16 PM, Preston L. Bannister <preston@bannister.us>
wrote:

[2017-11-15 22:53] giseburt commented on #301
Ah, I know this one! The tools used from the branch you are using are 32-bit tools. So, you have three options:

1. Switch to the more experimental [`dev-168-gquintic`](https://github.com/synthetos/g2/tree/dev-168-gquintic) branch (which of course still supports all the other boards, but is occasionally broken since it's in active development), which uses the [`sams70-port`](https://github.com/syn

[2017-11-15 23:37] pbannister commented on #301
Thanks. Much better...

Did checkout on dev-168-qquintic (g2) and sams70-port (Motate). Ran (twice) the command:
[code]

### On MacOS
[code]
### On Ubuntu (VM on Google Compute)
[code]
### On Google Cloud Shell:
[code]

Figure I am better off using whatever is in active development.

[2017-11-15 23:37] #301 closed

[2017-11-17 03:00] pbannister commented on #292
Reading through the wiki pages...

[2017-11-17 03:32] pbannister commented on #292
Reading through the wiki pages, and I have questions. :)

For the topic [Hardware Needed To Use g2core](https://github.com/synthetos/g2/wiki/Getting-Started-with-g2core#hardware-needed-to-use-g2core):

1. Some discussion of the hardware needs for 3D printing would seem order.
2. I am assuming for XYZ and two extruders requires control of five steppers (or four with only one extruder). As the gShie

[2017-11-20 10:58] cmcgrath5035 commented on #272
It appears that Riley fixed this issue in  Repository on 9/16/2017. I'll leave this open for Rob or Riley to verify

[2017-11-22 04:46] knollja opened #302 "Build on OSX broken?"
I'm attempting to build g2core 100.26 with the gShield pinout on my Macintosh.  I've carefully followed the instructions here: https://github.com/synthetos/g2/wiki/Getting-Started-with-g2core-Development#compiling-the-code
and:
https://github.com/synthetos/g2/wiki/Compiling-g2core-on-OS-X-(with-Xcode)

I clone the GitHub repository to my local drive, open the g2core.xcworkspace project in Xcode, s

[2017-11-22 04:58] giseburt commented on #302
It appears from what you describe that it’s building fine. It’s likely
you’re using the that the default “test” configuration, which has all the
motors disabled.

Start with another configuration and see if you have better results.
On Tue, Nov 21, 2017 at 10:46 PM knollja <notifications@github.com> wrote:

[2017-11-22 07:44] knollja commented on #302
OK, I'll give that a try.  Any suggestions which one to use?  What should I look for to know if it's a test configuration with disabled motors?

Ultimately I'm looking for a gShield pinout.

[2017-11-22 18:26] knollja commented on #302
OK, that was it.  Thank you.

For the record, I do think that having an Xcode build target called "gShield" that compiles into a binary that won't actually drive a gShield is confusing.  Shouldn't that target be called "gShield_motors_disabled" or something?

Furthermore, I think it would be useful to have a target that actually does build a functional gShield firmware.

[2017-11-22 18:35] ril3y commented on #302
Good point. Do you have a pull request?

On Wed, Nov 22, 2017 at 1:26 PM knollja <notifications@github.com> wrote:

[2017-11-22 19:51] knollja commented on #302
I don't.  I'm pretty new to Git and haven't read up on how to do that.

[2017-11-24 12:49] cmcgrath5035 commented on #302
I suggest we proceed with a bit of caution here.
I generally agree with knollja's suggestion, but worry a bit about folks who might blindly build a particular configuration with an improper parameter set and jump to trying to jog their machine. Slamming a gantry into a side rail is usually not a permanent damage event with belt machines, but may be with popular screw machines. I have no idea what

[2017-11-24 19:05] knollja commented on #302
Perhaps the working build configuration could have very conservative motor speeds, but for the love of god please let it be a working configuration.  I burned many hours to this confusion.

If you take a look on Youtube, you'll see that apparently its common practice to get the motor control working before the motors even get installed into the machine.  That's also what I did in this case, but co

[2017-11-25 14:37] ril3y commented on #302
@knollja I did not see this sorry let me take a look at this.

[2017-11-25 14:43] ril3y commented on #302
@knollja I merged the pull request #118 but I wanted you guys to know about the new nodejs flashing utility.  It works well on linux and osx so far.
https://github.com/synthetos/g2/wiki/Flashing-with-Node-SAM-Ba-Utility-in-OSX

[2017-11-25 14:43] #302 closed

[2017-11-25 17:36] knollja commented on #302
Thanks Ril3y!

Reading that page, it appears that to use the node.js method I need an AVR Atmel ICE programmer, but the DueFromOSX.sh does not require one.

[2017-11-25 17:39] giseburt commented on #302
No the node-sam-ba uses the serial port, and doesn’t require any other
hardware.
On Sat, Nov 25, 2017 at 11:36 AM knollja <notifications@github.com> wrote:

[2017-11-25 17:41] knollja commented on #302
Huh.  The Usage: paragraph starts with:

Is this not the case?

[2017-11-25 17:48] giseburt commented on #302
I can’t check the instructions you are referring to at the moment, but I
can say that that’s wrong. You do not need any additional hardware. It
won’t work with an external programmer anyway.
On Sat, Nov 25, 2017 at 11:41 AM knollja <notifications@github.com> wrote:

[2017-11-25 17:51] knollja commented on #302
OK, good to know.  Seems like the usage instructions should be revised then.

[2017-11-25 19:05] knollja commented on #302
Page is updated, thanks Ril3y!

[2017-12-02 17:37] benlaurie opened #303 "No steps generated"
I am using current master, i.e. commit 92e455e965e2a68741218ca9b10162b70e45ffa2. If I jog the X axis (the only one I am currently monitoring), I don't see any steps at all (using the TestV9 config - I've also tried with Othermill).

However, if I use the prebuilt version, TinyG2_Due-edge-078.03-default.elf, I do see steps.

This is using a bare Due with no attached drivers at all.

I guess I'm doi

[2017-12-03 00:22] hurr1k4ne commented on #303
The Axis are disabled / Not configured in the config Files. Please have a
Look at them. You will find the Motors disabled and Not assigned the the
Axis.

Greetings, André

[2017-12-03 16:15] benlaurie commented on #303
Thanks for that - but what do you mean by the config files? If I look in settings_othermill.h, for example, the motors do appear to be enabled and assigned.

Also, if I look at the motor/axis settings from chillpepper, they seem OK...

[2017-12-03 19:41] giseburt commented on #303
Another thing to look for is if the machine is in alarm state. Depending on
the input configuration (and how you have the machine wired), it may go
into alarm or feedhold state before the usb comes up and you can get the
alarm message.

You can check by querying the stat with {stat:n}. If you get 2 (Alarm), 6
(Hold), 11 (Interlock), 12 (Shutdown), or 13 (Panic), then it won’t
generate steps when y

[2017-12-03 19:46] giseburt commented on #303
I didn’t first my thought. Sorry. You need to either add the pull-down
resistors or change the configuration.

-Rob

[2017-12-04 16:16] aldenhart opened #304 "Add UVW Axes for 9 Axis Control"
Add UVW axes as secondary linear axes, with UVW corresponding to secondary XYZ axes, respectively.
- Extends motor mapping:
  - 1=x, 2=y, 3=z   [primary linear axes]
  - 4=a, 5=b, 6=c  [rotary axes]
  - 7=u, 8=v, 9=w  [secondary linear axes]
- Adds three new axis objects: U, V and W (obviously)

[2017-12-08 23:37] giseburt opened #307 "Implement proper pressure management for 3D printing"

[2017-12-13 02:18] benlaurie commented on #303
Thanks, I'll try this when I get home...

[2017-12-16 14:34] benlaurie commented on #303
Unfortunately, that does not seem to be the issue - from ChilliPeppr:

{stat:n}
{"r":{"stat":1},"f":[1,0,9]}

i.e. READY.

I tried building dev-168-gquintic instead but it has lots of errors.

[2017-12-16 15:13] benlaurie commented on #303
By the way, it might be helpful to know what commit TinyG2_Due-edge-078.03-default.elf was built from.

[2017-12-16 16:45] benlaurie commented on #303
Solved!

Problem was I should have been specifying BOARD=gShield instead of using the default g2v9k.

I am now getting steps. Hoorah!

That said, I found this out by trying to connect an Atmel ICE, and realised eventually that the wrong chip was selected. However, even with the right chip selected, I don't end up connected:
[code]

Any ideas?

BTW, is there any way to talk to you guys without rais

[2017-12-16 17:24] benlaurie opened #309 "Weird final step?"
While debugging #303, I noticed the end of a jog looks a little odd:

<img width="447" alt="screen shot 2017-12-16 at 17 21 07" src="https://user-images.githubusercontent.com/40044/34072797-d360d8c4-e285-11e7-9704-c533e0d389a4.png">

Why is the very last step so close?

[2017-12-17 21:28] martin2250 opened #310 "arcs are interpreted wrong"
Hi,

I'm using Fusion360 (with a custom postprocessor, worked fine with GRBL for years) to generate GCode. This particular file was a test to try out 3D machining. I originally ran this file on grbl without issues. The toolpath should look like this:
![image](https://user-images.githubusercontent.com/8293473/34083882-bab51ca2-e377-11e7-92c0-693ac5575ae5.png)
(This is a screenshot from OpenCNCPilot

[2017-12-19 01:08] thehazyvagrant opened #311 "Command to change digital pots?"
Not sure if this is the right place to ask, but I can't find a command to change digital pots, does such a command exist?

[2017-12-20 18:06] Hallulla opened #312 "Using External motor drivers"
Hi!
I'm looking to use g2core on Arduino due to drive a small 5 axis machine. I am thinking of using 5 [Big EasyDriver](https://www.sparkfun.com/products/12859?_ga=2.116567494.1129919016.1513789857-1738791622.1506469362) boards, since tinyG and Gshield can't drive 5 independent motors.
So far my research indicates this can be done: pins are equivalent, microstepping can be configured to g2core def

[2017-12-21 14:11] benlaurie commented on #312
FYI, I am using a Due with external drivers, no problem - note that you need to set the board to gShield to get the right CPU/pinouts.

Also, don't forget the Due is a 3.3V system!

Curious what 5 axis machine?

[2017-12-21 14:14] hurr1k4ne commented on #312
I am using my due too with 8 AMP Nema23.
Works flawless.
Hint: use shielded Data cables ;-)

[2017-12-24 12:55] cmcgrath5035 commented on #312
Have a look at this product, it might provide some helpful hints (schematics available)
https://www.djuke.nl/index.php?page=shop.product_details&category_id=1&flypage=flypage.tpl&product_id=406&vmcchk=1&option=com_virtuemart&Itemid=8

[2018-01-15 04:28] sfj13 commented on #145
Any updates on the feedhold and cycle start pins?

[2018-01-23 19:16] pburkli commented on #312
I'm using an Arduino Due with the above board (G2core shield by djuke.nl). It translates all outputs to 5V and protects them with photocouplers. Works great.

[2018-01-23 19:21] ril3y commented on #312
I would ask anyone using g2 with bigger motors was is willing to share some
pictures / build logs please do so.  I would love them for the site.

[2018-01-25 16:03] AVRsteffen opened #313 "Show settings view for di10 - di12 missing in console"
I use Arduino Due with master branch build 100.26.
I  increase in gpio.h amount of useable digital Inputs from 9 to 12. It works well but I wonder cause can't see settings of digital inputs by send $di for all. Software show only settings for digital inputs from 1 to 9. I am confused cause physical all Inputs from 1-12 exist and can change settings with command like "$di10mo=0" or "$di12fn=2"..
So

[2018-01-26 01:56] Hallulla commented on #312
Thanks everyone for your comments. Sadly my CNC build is being delayed for personal reasons.
Hope to resume this later this year :( Love g2core/tinyg

[2018-01-27 04:04] kitwn opened #314 "Please help an 'ordinary' user!"
I'm very interested in trying g2core as a replacement for my current LinuxCNC setup but am not quite enough of a computer geek to start from scratch compiling the latest master branch myself. The pre-compiled Windows .zip file available at http://synthetos.github.io/g2/ referenced in the wiki is still on v0.97 which doesn't match the 0.99 requirement of Goko 0.3.5 which is the software I'm hoping

[2018-01-27 06:52] kitwn commented on #312
I'm planning to change my 3-axis machine from LinuxCNC to g2core controlled by Goko or CNCjs if I can persuade the team to keep the pre-compiled .bin page up to date ;-) . I'm better with bits of wood and fast moving sharp steel than I am with software and haven't yet mastered the art of turning Github gobbledygook into something I can squeeze onto my shiny new Due board.

[2018-01-27 09:04] hurr1k4ne commented on #314
The Problems are the machine specific settings. They are precompiled inside the bin.
So it is impossible to create a genuine firmware.
I used linux to compile mine. Which ist just editing the config and running a lenghty Command.

But you may have a go with the release files in GitHub. There are machine specific firmwares which you can use to Start from.
The downside is you have to overwrite the s

[2018-01-27 09:10] hurr1k4ne commented on #312
Please See your other issue for an answer.
The generic release files are built automatically in every Release.
Have a Look at githubs Release Page.

Greetings
André

[2018-01-27 23:31] kitwn commented on #314
André,
Thanks for your reply. LinuxCNC includes the 'stepperconfig' application which is a GUI used to set up the machine specific parameters and test the movement of the machine. Once you are happy with the settings a configuration file is saved which is automatically read by the main application when started. I'm assuming that the Due can, like every other Arduino board I've used, read a file fr

[2018-01-27 23:44] kitwn commented on #314
André,
I've just followed the link you put in your post and there are a pile of binaries! The 'releases' folder doesn't appear on the front page of Github and I haven't noticed any links to it elsewhere. The 'Getting Started with G2core' page in the wiki sent me off to  http://synthetos.github.io/g2/ which is v0.97. The page has no "last updated on..." information so I had no idea that it's a foss

[2018-01-28 23:40] kitwn commented on #312
André
Thanks to your answer to the other thread I have now found the Releases folder. As I said there, Releases doesnt immediately show up on the synthetos/g2 github front page and I hadn't found any links to it in my search through the wiki and other sources of information. This is not meant as a criticism of people who  give a great deal of their time and effort free of charge, but as someone wh

[2018-02-10 09:01] timothy-godfrey opened #315 "Safety Connections"
Hello! I am working on using an Arduino Due with external stepper drivers (ie no driver shield, just level adapters and screw terminals) in place of the factory controller on a laser cutter. I would like to connect
 - Emergency Stop
 - Door Interlock
 - Cooling Alarm

signals to my controller. As far as I can tell, the GRBL-compatible pins for feedhold, reset, and cycle start signals in the gShiel

[2018-02-10 09:03] hurr1k4ne commented on #315
In the Source Files in machine configuration you can edit the i/o Pin
functions. E.g. Alarm, Panic.... Normal Open, normal closed and so on.

[2018-02-11 07:08] hurr1k4ne commented on #315
Hm, for my two cents Just keep an eye on noise. The due Board is very picky
with it.

I use external stepper drivers and they Ran only Well after changing to
shielded cables.

[2018-02-14 11:07] pburkli commented on #145
I was also researching on this topic. Having an extrernal feed hold and resume button would be great!
Any progress on this? Thanks!

[2018-02-14 11:36] pburkli commented on #315
This issue is related to this one: https://github.com/synthetos/g2/issues/145

[2018-02-17 12:44] cmcgrath5035 commented on #314
Kit
Be aware that none of the releases  current available at https://github.com/synthetos/g2/releases are built for DUE hardware, they are for other custom machines. Not all pins may function as you need.

[2018-02-17 23:06] timothy-godfrey commented on #315
I thought I write what I ended up deciding, in case it is useful to anyone else.

I had a look at using the GRBL pins, but it looked like it was going to be more work than just configuring the pin outs and the settings. Because there were spare digital inputs already available I figured it would be simpler to use those. After a quick trial I got a response from pin 10, but not pins 11 and 12 (coul

[2018-02-18 03:54] kitwn commented on #314
cmcgrath5035,
That's interesting. I thought the ONLY hardware it worked on at the moment was the Due! I'm sure the wiki says that somewhere. Thanks for that vital bit of information.

I have loaded a binary onto my Due and sucessfully communicated with it from the serial interface of the Arduino IDE and from cncgoko but have not yet made a breakout board for testing it's ability to control any mot

[2018-02-18 11:30] cmcgrath5035 commented on #314
The only "openly available" hardware is the DUE. The v9k is an early development prototype and the other builds are for 3rd party machine specific hardware that runs a version of G2.
You need a build for DUE with gShield to get functionality matching the (draft) Pinout chart at https://github.com/synthetos/g2/wiki/Arduino-DUE-Pinout-for-g2core.

I am on the road at the moment, don't have access to

[2018-02-19 00:04] kitwn commented on #314
Carl,
Thanks for your advice, I agree that I need to get to grips with being able to build G2 myself. My problem is where to begin? It can't be that difficult but all the explanations seem to assume an existing level of knowledge I don't have and I'm confused as to the very first steps I need to take in order to make progress. I need the equivalent of the first driving lesson entitled "First, unlo

[2018-02-19 02:50] kitwn commented on #314
OK, it turns out that "unlocking the doors" includes clicking on the 'pages' header to open up a whole new world of wiki menu pages including instructions on how to compile g2.  Please tell me I'm not the only first-time visitor to GitHub who didn't spot that one?

Kit

[2018-02-19 09:30] hurr1k4ne commented on #314
Hmm it cost me some minutes the First time, but found it in the right Menu.

An advise: If you are used to use linux, i recommend you to compile the
Source Code with linux. It Is much easier to Setup, understand and handle.

If you setup your build environment in windows, please follow the
Instructions very careful. The compiler ist very picky! So often
first-timers miss something and end with a b

[2018-02-19 13:33] kitwn commented on #314
I've been trying to make it work in Windows. No luck on my W7 desktop machine: I've been following the instructions on "https://github.com/synthetos/g2/wiki/Compiling-and-configuring-G2-on-Windows" but cannot get past the "'make' is not recognized as an internal or external command, operable program or batch file." notice no matter what I try.

I've had a go at following "https://github.com/synthe

[2018-02-19 18:37] cmcgrath5035 commented on #314
After loading your new .elf file and restarting the DUE, you should see a slow "heart beat" from one of the LEDs - that is normal

[2018-02-20 06:21] hurr1k4ne commented on #314
Have you configured your Axis and Motors? They are deactivated in the
Default File! So there will be no movement.

[2018-02-20 13:10] cmcgrath5035 commented on #313
Perhaps try {"di":n} ?
G2core starts up in JSON mode

[2018-02-22 18:56] Brac24 opened #316 "Compiling on Texas Instruments development board"
Would I be able to compile this for my tm4c mcu on Keil? I see there is support for different boards in the motate project. Would I be able to get it to work fairly easily or would it be too much of a hassle?

[2018-02-24 10:26] AVRsteffen commented on #315
How you configurate this Pins?

[2018-02-24 10:31] AVRsteffen commented on #145
I am very intressed of feedhold and cycle start pins/buttons too. This can very usefull for my machine.

[2018-02-24 10:52] AVRsteffen opened #317 "Integration of an external memory interface for coordinate offsets"
I miss that after a reboot the controller forgets the offsets of the different coordinate systems. That is because the SAM3 has no internal EEPROM. It has often been discussed whether you need it or not.
I think so, you need it!
However, an external EEPROM has a limited number of write cycles. Now I thought of a FRAM like the FM25CL64 from RAMTRON.

You can write it as often as you like and its me

[2018-02-24 11:27] cmcgrath5035 commented on #313
(I am an interested bystander, learning from your question and possible fixes. This is significantly new feature, perhaps the set-up requirements are not clearly documented)

Did you add default definitions for your additional di pins in your settings.h file?
Perhaps something needs to exist at compile time to properly set up query parsers.
From your description above, it is apparent that you can

[2018-02-24 12:24] AVRsteffen commented on #313
Yes, I can modify and use pins for DI10 - DI12. They work correctly.
Sorry, have no link for my setting.h file
Can only give you an extract of them here.
**settings.h**:
`//*** Input / output settings ***
/*
    IO_MODE_DISABLED
    IO_ACTIVE_LOW    aka NORMALLY_OPEN
    IO_ACTIVE_HIGH   aka NORMALLY_CLOSED

    INPUT_ACTION_NONE
    INPUT_ACTION_STOP
    INPUT_ACTION_FAST_STOP
    INPUT_ACTION_HA

[2018-02-24 12:52] cmcgrath5035 commented on #313
Hmm, looks OK to me. You'll have to wait for a Dev to stop by.

[2018-02-24 21:49] lutorm commented on #145
I am also getting more interested in this since I'm about to upgrade my mill to use Clearpath servos. They have a status output that indicates if they shut down for some reason, and it would be very nice if these could be linked to an emergency stop input so the program doesn't just keep running with one axis shut down since that would be a recipe for a severe crash.

[2018-02-25 14:25] AVRsteffen commented on #145
You can use some digital inputs for this. You can configurate them as

`INPUT_ACTION_STOP`
´INPUT_ACTION_FAST_STOP`
´INPUT_ACTION_HALT`
**or**
`INPUT_FUNCTION_INTERLOCK`
´INPUT_FUNCTION_PANIC`

Perhaps you should just use one input and combine your servo signals with an OR gate

[2018-03-01 18:36] SchiMa2017 opened #318 "Spindle dwell time not working"
Spindle dwell time is not working, because it is running in a dead end at planner.cpp

//++++ stubbed ++++
void mp_request_out_of_band_dwell(float seconds)
{
//    mr.out_of_band_dwell_time = seconds;
}
//++++ stubbed ++++
stat_t mp_exec_out_of_band_dwell(void)
{
//    return _advance_dwell(mr.out_of_band_dwell_time);
    return 0;
}
Is there an easy way to get this working again.

[2018-03-01 18:38] giseburt commented on #318
Thank you for pointing this out. This is fixed in other branches, but using code that has diverged a fair bit from current master, so I'll have to take a look and see what's needed to get this working before that merge occurs.

[2018-03-03 23:01] scotthz commented on #312
FWIW I am running g2 on a Due with 4 external Sainsmart ST-M5045 drivers. Motors are middle-of-the road NEMA 23s. I have one board which buffers the control signals between the Due and the drivers. Probably not necessary, since the drivers have their own optoisolaters, but it made me feel good that I wasn't overloading the Due pins. Also a simple filter board with RC circuits for home/limit switch

[2018-03-03 23:07] scotthz opened #319 "fusion 360 post config for g2?"
Wondering if anyone has a Fusion 360 post config for g2. It comes with a tinyg post, but it doesn't support some things that may be possible with g2. For example, it doesn't allow helical moves.

I'm no expert with Fusion 360 or CAD/CAM in general, just wondering if anyone else has thought about a postprocessor for g2.

[2018-03-03 23:14] giseburt commented on #319
This is what I've been using, and is the default setting for the TinyG post:
(You can ignore everything above "Properties".)
![image](https://user-images.githubusercontent.com/386001/36940307-282c47fa-1f06-11e8-911d-c4ecb2281a04.png)

[2018-03-03 23:16] giseburt commented on #319
I also recommend enabling smoothing on any operation that allows it, and set it to what's acceptable for your job. For example:
![image](https://user-images.githubusercontent.com/386001/36940331-a2a7bec4-1f06-11e8-9477-c8824f21e18e.png)

[2018-03-04 09:56] siy commented on #288
Hello,

In the list of commits for this branch I saw comment that this branch now by default points to Motate SAMS70 port. Which MCU it targeting specifically? And where I can find schematic of compatible hardware?

[2018-03-05 16:49] scotthz commented on #319
Thanks. Allow Helical Moves isn't enabled by default in the TInyG post in my environment, good to know it should work.

[2018-03-05 16:49] #319 closed

[2018-03-06 04:31] hqkhuong commented on #84
@bronek999 , could you please check your email. thanks

[2018-03-06 08:35] alfredanil commented on #314
I wish someone built a g2core configuration tool like marlin config tool
 https://github.com/akaJes/marlin-config
This would attract more users to g2core.
Also adding new shield to Due is a bit tedious with Motoate. I did manage to partially build RADDS shield motate pins but still need more tweeking and research to get it right. FYI RADDS V1.5 shield is for Arduino Due and can run upto 6 steppers

[2018-03-20 16:44] justinclift opened #322 "Please create a mailing list / IRC / something-not-social-media for g2core"
Hiyas,

It's incredibly difficult for new users and people starting out with g2core to communicate with each other to get going.  The Syntheos TinyG forum doesn't meet that need, nor is GitHub issues suited for this purpose.

Is it feasible to create a mailing list (and maybe an IRC channel) for users to communiate with each other?  That'd significantly help new users.

[2018-03-20 16:50] hurr1k4ne commented on #322
https://plus.google.com/communities/103099267575816902412

Have a go Here.

Greetings

[2018-03-20 16:54] justinclift commented on #322
Thanks, but that's a G+ / social-media thing.  Not exactly a mailing list, IRC channel, or similar. :smile:

eg For people not into social media (many IT folks, myself included), that's not going to work.  Looking for something a bit more "traditional" I guess. :wink:

[2018-03-20 20:43] hurr1k4ne commented on #322
I use the g+ group as a Mailinglist. Because i am Not into social Media.

 i got your Point. But thats working for today. Other Channels need a
decision of the official representatives which need some sort of manpower
to maintain.

[2018-03-20 21:45] justinclift commented on #322
No worries. :smile:

[2018-03-20 21:49] giseburt commented on #322
Hi guys,

We have been thinking of doing a Synthetos public Slack. Does that sound
like it would work in the capacity you’re thinking?

It would be exciting to be able to talk more one-on-one with those that are
interested in g2core.

-Rob

[2018-03-20 21:51] justinclift commented on #322
Well... personally I've avoided Slack because it seems to need people to create a brand new account for every project (eg one for g2core, one for -say - Minio, etc), and the client has a terrible reputation as being a resource hog (eg 1.5GB resident ram usage).

But, if that's the only option then sure I could be convinced.  It's at least real-time (like IRC), so would help newbies get over the in

[2018-03-22 07:02] lutorm commented on #282
I have also seen this exact behavior in my old 89.03 build that I've been running for the past two years on a Due. I've been able to feedhold and then home again and it works correctly. I wondered whether it was the homing switch being flaky, but maybe it's a bug. It's quite rare, maybe one time out of 25-50 homes.

[2018-03-22 07:12] lutorm opened #323 "Text mode switch not working?"
I just updated my two-year old edge (89.03 with my added tool length offsets etc) to current edge, and now I don't get any feedback when running in chilipeppr any more. When connected directly with a terminal and type "$", I get this:

[code]
So it seems to be echoing back the settings in JSON mode rather than text mode. With my old build, I get this:
[code]
In both cases, COMM_MODE is JSON_MODE.

[2018-03-22 11:12] hurr1k4ne commented on #323
Please try $ej=2 for Auto Mode. I use it with a equal scenario.

[2018-03-23 02:49] lutorm commented on #323
Ah, excellent. Thanks. This option is not mentioned under COMM_MODE in settings_default.h.

[2018-03-23 02:54] ril3y commented on #323
Thanks for the help on this hurr1k4ne

[2018-03-23 05:56] lutorm commented on #179
I tried the current edge and this seems to work now so this can probably be closed.

[2018-03-28 02:46] nesquik011 opened #324 "Auto tool change request"
Hi , is there option to use auto tool changor spindle ? And how to connect the axis with arduino is there some text i edit so i can set pins ?

[2018-03-28 03:51] 3h50 commented on #260
Wait I' have searched all over, cane coreg2 do CoreXY?  Why is there so little information on it?

[2018-03-28 14:35] giseburt commented on #260
It's currently not in master or edge, and is not documented. It's in branch dev-168-gquintic. You can see the [Axidraw v3 settings](https://github.com/synthetos/g2/blob/dev-168-gquintic/g2core/settings/settings_axidraw_v3.h#L92) for an example. There's not a lot of configuration yet.

[2018-03-28 15:38] 3h50 commented on #260
Cool, so it does in fact work! Now I just need to learn a lot about how to implement  that branch lol!

[2018-03-31 03:06] goboldgraphics opened #325 "g2core only works on chilipeppr and doesnt save config"
g2core only works on chilipeppr and doesnt save config. It does not work with any other g code sender including coolterm, UGS or any.

[2018-03-31 18:34] rkoe opened #326 "UART instead of USB (Arduino DUE)"
Hi,
is it possible to use g2core on an Arduino DUE and communicate with it with UART instead of USB?

I've already modified gShield-pinout.h: I've disabled USB, enabled UART and set/shifted some pins (for details: see below). But when I try to compile I get the following error-messages:

[code]

How can this be fixed?
I would appreciate any hint.

My gShield-pinout.h modifications:
[code]

[2018-03-31 19:14] giseburt commented on #326
Which branch are you using for this? I can’t test this this weekend but you
could try this against edge or dev-168-gquintic branches. Note that you
will likely need to run `git submodule update` after switching branches
unless you are using a GUI git client like Sourcetree that does that
automatically.

[2018-03-31 20:02] rkoe commented on #326
I've used the stable branch (100.26).
I've now also tried the g2core-edge-branch, but I got the same error.
(I've also tried to switch Motate to the edge branch, but this results in a lot of errors, since e.g. the number of parameters for _MAKE_MOTATE_PWM_PIN seems to have changed.)

[2018-04-01 06:07] #315 closed

[2018-04-02 09:01] yulongWanghb opened #327 "canvas's width of G2 chart turn to 0px"
when using G2 chart to draw path picture ,it shows normal at the first time ,but when i use jquery function  (hide、show ) ，i  find the canvas width become 0 px ,and the data showed in the picture huddled together，i try to change the width of it and failed ,this happened sometimes

[2018-04-02 09:46] yulongWanghb commented on #327
version :2.3.13
platform :windows

[2018-04-02 12:03] giseburt commented on #327
I believe you have the wrong project. This is a CNC machine firmware called
g2core.
On Mon, Apr 2, 2018 at 4:46 AM yulongWanghb <notifications@github.com>
wrote:

[2018-04-03 02:56] yulongWanghb commented on #327
I think i should describle the  clearly ,i draw a path chart with G2 chart successfully in a div mark of html ,it  workes ,and  i have to hide it  by useing jquery function ($.hide（）)，but when i use ($.show ) to show the div ,the chart doesn't work , when i debug the code in chrome ,i find the width of canvas becomes 0px ,i am confused and don't know how to fix it ,can you help me with my puzzle?

[2018-04-03 03:09] giseburt commented on #327
This isn’t a web project. This is not “G2 chart.” I’m sorry, but you have
the wrong project.
On Mon, Apr 2, 2018 at 9:56 PM yulongWanghb <notifications@github.com>
wrote:

[2018-04-03 07:11] yulongWanghb commented on #327
ok ,whatever thank you very much

[2018-04-03 07:52] yulongWanghb commented on #327
I 'm very sorry for my mistake ,i do have the wrong project . i intended to search a project named antivs/G2

[2018-04-05 07:00] abdrumm commented on #292
We are working on a page that brings all the 3d printing info together in one place. We have combed thru the g2vore wiki and have a new volunteer rewriting it to be a little more human-readable. We have sent a few questions to read b and will post the remaining outstanding info

Our initial post is here: https://printrbot.com/2018/03/08/printrboard-g2-general-information/

Our g2 board is for sale

[2018-04-05 07:02] abdrumm commented on #283
Keep us posted on this one! ;)
Brook

[2018-04-05 08:43] hurr1k4ne commented on #325
Hey,

If you dig through the Wiki, you can find information that g2core can not
save config changes persistent to eeprom at the Moment. This is why
chilipeppr has the ability to send config changes (saved in chilipeppr) on
each connect of the Controller.

To your gcode sender Problem:
I sometimes use standard Linux or Windows serial console programs to send
gcode commands to g2core (Like # or ## o

[2018-04-05 19:17] justinclift commented on #325
As a data point, g2core definitely works with CoolTerm.

At least, the "master" branch from git does.  Saying that as I've been using CoolTerm with g2core pretty much every day for the last few weeks.

If CoolTerm isn't working for you, then there's probably a configuration problem needing to be fixed as @hurr1k4ne mentioned.

[2018-04-05 19:18] justinclift commented on #327
@yulongWanghb You should probably close this issue. :wink:

[2018-04-06 02:47] BDFife commented on #267
@Barafu, to fix the Y-slamming, try setting slowing down the y homing speed with the $ysv command. A value of 1000 seems to work well for me.

[2018-04-08 02:29] #327 closed, assigned to nobody

[2018-04-08 16:43] justinclift commented on #316
Is there a link for further info on the processor, and/or dev board you're using it on?

That'd probably help in figuring out what's needed. :smile:

[2018-04-09 14:34] Brac24 commented on #316
Hi there @justinclift  thank you for your help. Sorry about that I probably should have put something.
http://www.ti.com/tool/ek-tm4c123gxl this should have a lot of info on the dev board

[2018-04-09 16:00] rkoe commented on #326
Any news or more hints about this?
I would like to make this work, and I hope that I don't have to read the whole code, so any hint would be appreciated.

Is it "only" a bug, and how can it be fixed, or where can I read more? Or is the non-USB-UART-communication not supported at all, and so I would have to (nearly) completely implement it?

[2018-04-09 17:35] giseburt commented on #326
It looks correct afaict. I can’t test this configuration now but it looks
like it’s not auto detecting the DMA correctly.

I believe that chip uses PDC DMA for the USART. If you put a #warning
pragma here:
https://github.com/synthetos/Motate/blob/master/MotateProject/motate/Atmel_sam_common/SamDMA.h

You should see the message you put after #warning when you compile. If you
don’t, then it’s not co

[2018-04-10 00:00] justinclift commented on #316
Thanks @Brac24.  Those look interesting.  Fairly cheap, and seems like they do CAN, which is on my personal ToDo list to get some hands on learning done with.  I haven't touched the motate stuff yet myself either... but that's also on my personal ToDo list.  I'll probably look at it for the RISC-V side of things though, as that platform (eg HiFive1) appeals to me more. :smile:

[2018-04-11 02:53] giseburt opened #328 "Finish merge of #320 to edge"
This issue is primarily so we have a number for the PR branch

[2018-04-11 04:22] Brac24 commented on #316
Cool. Interesting I have never heard of RISC-V I might check that out too thanks again

[2018-04-11 18:28] justinclift commented on #324
Thinking about this a bit, it would probably depend on the autochanger.  What model is yours, and how is it normally driven?

[2018-04-11 18:32] justinclift commented on #317
That sounds like an interesting idea.  Using SPI to save info (that can't be compiled in) persistently "across sessions".  It might be the kind of thing needing to get done in the motate layer, which is kind of like an abstraction layer for g2.

That bit I'm not understanding.  Um... any chance of trying to describe that, but using different words ? :confused:

[2018-04-11 18:34] #323 closed, assigned to nobody

[2018-04-11 18:38] justinclift commented on #303
Hey Ben, is this solved now?

I'm just going through closing out issues that aren't really needing to be open any more.  This kind of seems like one, but I'm not 100% sure. :smile:

[2018-04-11 18:39] justinclift commented on #309
Ditto with this.  Is this issue closable, or should it remain open? :smile:

[2018-04-11 18:43] justinclift commented on #314
@kitwn How'd this go??  Did you get it figured out? :smile:

[2018-04-11 18:54] justinclift commented on #313
Hmmm, at a rough guess from this and https://github.com/synthetos/g2/issues/315#issuecomment-366478127, it sounds like there might be some kind of bug with digital input pins > 10 not being displayed when `$di` (and it's JSON equivalent) are run.

[2018-04-11 18:55] justinclift commented on #311
Oops, this got missed somehow.  Do you still need a hand with this? :smile:

[2018-04-11 19:09] justinclift commented on #176
I can get this done pretty easily.  Which GPL license though, so I know which text to grab? :smile:

[2018-04-11 19:11] justinclift commented on #279
Oops, this got missed.  Do you still need assistance with it? :smile:

[2018-04-11 19:13] justinclift commented on #291
@amx1 Out of curiosity, where did you come across the info on the `jog` command?  I'm looking through the wiki now, but not seeing it.

I could be completely blind though. :smile:

[2018-04-11 19:15] AVRsteffen commented on #313
Yes it's not displayed in Text mode or JSON too.

But I am to stupid for understand C++
😣

[2018-04-11 19:18] justinclift commented on #296
@MitchBradley Guessing you've been using a version of g2core with your patch included, for a few months now.  If that's the case, are the extra decimal places working out as hoped? :smile:

Just thinking it might be useful to get some feedback on the change from someone's who's probably actually been using it in reality for a while now, just in case you feel your patch could do with some subsequen

[2018-04-11 19:23] MitchBradley commented on #296
Yes, I have been using it in production with no problems.  The parts are coming off the line ...

[2018-04-11 19:24] justinclift commented on #292
@abdrumm Looks nifty. :smile:

@pbannister Did the above cover all the bits you need, or are there still gaps you're needing help with? :smile:

[2018-04-11 19:25] AVRsteffen commented on #317
Okay, I try..
With Chillipepper you can save your settings and upload if you start your connection. But I am not prefer to use this web based program.

I prefer more to use a persistent memory.
But I'm realy not fit in C++
I think Motate layer is only to discriped I/O configurations.

Sorry for my bad english

[2018-04-11 19:25] justinclift commented on #296
Awesome. What sort of parts are you making? :smile:

[2018-04-11 19:35] justinclift commented on #317
It's ok.  I understand now. :smile:

Personally, I agree with you.  It would be really useful to have just a single firmware to upload, + each machine could store its own settings somewhere persistent.

Although things don't work that way now, as you mention it would be useful to get it working <somehow>.

Just as an idea... is it possible for you to ask the creator of the G-Code sender that you u

[2018-04-11 19:36] justinclift commented on #313
Yeah, I don't program with C++ much either any more. :wink:

[2018-04-11 19:47] ril3y commented on #317
This is how Chilipeppr does things right now.  On connect it sets up
everything.  I think this is how cncjs works also.

[2018-04-11 20:19] amx1 commented on #291
@justinclift Accidentally ;-)

 I checked the sourcecode while I was working on a jog device . The command is listed in config_app.cpp (2 matches). I played a bit with. It is useful for absolute positioning, but I am not using it, because it is not oficially documented.

[2018-04-11 21:38] benlaurie commented on #303
The original issue is indeed solved - as I said, I was using the wrong board. The default build is not for a Due, right?

Still haven't made the ICE work, though!

[2018-04-11 21:40] benlaurie commented on #309
Well, is there an explanation of the final step? Not a serious issue, I don't think but doesn't seem quite right...

[2018-04-11 22:02] giseburt commented on #309
That shouldn’t be there. It’s definitely a bug. However, that section has
been refactored somewhat on edge and further refined in Dev-168-gQuintic
(which should work for all boards btw), so hopefully it’s already fixed.

[2018-04-11 22:22] justinclift commented on #291
Heh Heh Heh

Cool.  I'll try to put some time into looking at it.  Might be worth documenting, if it's decided to be useful for people. :smile:

[2018-04-11 22:26] justinclift commented on #309
Excellent!

@benlaurie Would you be ok to try either of those two branches then, to check if it's indeed now working properly there? :smile:

[2018-04-11 22:39] justinclift commented on #303
Wasn't sure of the default board, so just jumped on my CentOS dev board and tried `make` without any arguments.  That barfed with "BOARD not defined - please provide a project name".

So went looking on the wiki for the most likely "How to compile..." type of page.  The OSX and Linux one seems closest (are you on FreeBSD?):

* https://github.com/synthetos/g2/wiki/Compiling-g2core-on-Linux-and-OS-X

[2018-04-11 22:41] justinclift commented on #303
With the ICE... I haven't bought one yet.  I'll likely get to it later, but it's probably not something I need to do right away.  My focus is more on a different layer of things.  eg creating CAM post(s) so g2core can be driven by CAM software.  Not sure if I need an ICE for that just yet. :wink:

[2018-04-12 10:14] rkoe opened #330 "documentation bug: G61/G61.1"
The documentation is inconsistent:

- https://github.com/synthetos/g2/wiki/Gcodes says:
  G61    Exact stop mode
  G61.1 Exact path mode
- https://github.com/synthetos/g2/wiki/Configuring-0.99-System-Groups says:
  0=Exact path mode (G61)
  1=Exact stop mode (G61.1)

Which one is right?

[2018-04-12 11:01] nesquik011 commented on #324
Check this , nsk
http://www.artcotools.com/nsk-nakanishi-nr40-5100-atc-spindle-50-000rpm.html

[2018-04-12 12:02] justinclift commented on #330
Good catch @rkoe. :smile:

If no-one else gets to this sooner, I'll take a look through the source later on today to see if I can figure it out.

[2018-04-12 12:07] justinclift commented on #324
Ok, that's the spindle part of an autochanger.  What autochanger do you use?

As a thought... you seem to be asking lots of questions but aren't very specific on your machine.

To make this simpler, what kind of CNC machine do you have, or are you wanting to build your own? :smile:

[2018-04-12 13:22] nesquik011 commented on #324
building my own and i didnt get the nsk air system yet , or the spindle but  i will buy it soon

[2018-04-12 14:09] justinclift commented on #324
Cool.  With the controller for it, what kind of wiring does it use and what signals does it need to receive?

[2018-04-12 14:18] nesquik011 commented on #324
i dont know there is no much info about it , you need to contact them in Japan

[2018-04-12 14:19] nesquik011 commented on #324
so can you help with how to make tinyg work with ATC

[2018-04-12 15:49] justinclift commented on #324
Probably not, in this specific instance.  If I had the exact hardware here to work with myself, then I probably could.  Want to buy two ATC's and send one to me? :smile:

[2018-04-12 15:55] justinclift commented on #322
Going to close this for now, as it's not something that has a clear answer for implementing for away.

We'll probably revisit this later on anyway, after the Community grows in size again. :smile:

[2018-04-12 15:55] #322 closed, assigned to nobody

[2018-04-12 16:02] justinclift commented on #300
Excellent!  Personally, I've been meaning to take a look at CAN stuff (in general), to get a better understanding of how it could be useful for us.

With the CAN GPIO bit you've been working on, is that using the g2core code as a basis or something, or is it new code which might one day be kinda useful to incorporate? :smile:

Went looking through your GitHub repositories (https://github.com/mawil

[2018-04-12 16:06] giseburt commented on #300
Wow! Somehow I missed this issue coming in. I'd love to hear more. In particular how you're incorporating the CAN into the system.

[2018-04-12 16:35] hurr1k4ne commented on #300
Both are fantastic news.
This would get g2core to a whole new Level.

Keep it Up!

[2018-04-12 16:41] nesquik011 commented on #324
lol i wish , i hardly trying to save money for mine hhhhhhh

[2018-04-12 16:57] justinclift commented on #324
No worries.  I'll close this issue for now then, and later on if uou have the hardware working we can re-open this to investigate.  :smile:

[2018-04-12 16:57] #324 closed, assigned to nobody

[2018-04-12 19:03] justinclift commented on #330
As a data point, the [Consensus G-Code page](https://github.com/synthetos/g2/wiki/g2dialect-Consensus-Gcode) (seems to be an assembly of G-Codes from several vendors, for central reference) has it as:

* G61 - Exact Path Mode
* G61.1 - Exact Stop Mode

That's without checking the actual source or machine behaviour though, which I still need to get done. :smile:

[2018-04-12 20:51] justinclift commented on #330
Hmmm, this is probably going to be a task for tomorrow instead.  Sorry @rkoe. :frowning:

[2018-04-12 20:58] giseburt commented on #330
I can confirm that in [current edge](https://github.com/synthetos/g2/blob/edge/g2core/gcode_parser.cpp#L750-L751) this is correct with the concensus gcode, and that the documentation [here](https://github.com/synthetos/g2/wiki/Gcodes) is wrong.

[code]

[2018-04-12 21:32] justinclift commented on #330
Thanks @giseburt.  Just updated [that wiki page](https://github.com/synthetos/g2/wiki/Gcodes) in the various places with the corrected descriptions.

@rkoe Would you be ok to review the update, and make sure it's ok now from your point of view? :smile:

[2018-04-12 21:34] rkoe opened #331 "feedhold does not work for G2/G3"
Feedhold (!) and resume (~) work well for G0 and G1, but feedhold does not work for G2/G3 in the current stable version (100.26): I can send !, but the motors simply continue to run.

[2018-04-12 21:35] justinclift commented on #331
That doesn't sound good at all. :wink:

[2018-04-12 21:42] justinclift commented on #176
Ahhh, looking at a [source](https://github.com/synthetos/g2/blob/edge/g2core/gcode_parser.cpp#L750-L751) file now shows a GPL v2 (only) header.  Kind of obvious in hind sight. :wink:

[2018-04-12 21:48] justinclift commented on #303
... and I forgot to close this yesterday.  Oops. :wink:

[2018-04-12 21:48] #303 closed

[2018-04-12 21:54] justinclift commented on #278
Oh, this could be a smart way to get around the "can't save changed settings" problem.

Personally (fairly new to most of this stuff), I hadn't realised it's possible to just write to **some** flash rather than doing the complete erase -> "upload flash" cycle (eg using bossac).

But it makes sense.  And if there's a way to ensure the flash area being rewritten doesn't clash with program code/data

[2018-04-12 21:56] justinclift commented on #325
@goboldgraphics Did you get manual communication - for example through CoolTerm - working?

[2018-04-12 21:58] justinclift commented on #317
The approach discussed in #278 sounds like it might be useful here too.

[2018-04-12 22:05] justinclift commented on #310
Sorry for the long delay with this, people have been snowed under some things. :frowning:

With the issue you're showing here, did you get a solution worked out?

[2018-04-12 22:11] justinclift commented on #243
As a general data point (1 year later :wink:) the [node-g2core-api](https://github.com/synthetos/node-g2core-api) repo is public these days.

Tried it after logging out of GitHub too, just to make sure, and yep... still able to access it.  So, closing this issue now.

If there's something in this issue that still needs doing (eg the rename in Motate), then people are welcome to re-open this. :smil

[2018-04-12 22:11] #243 closed

[2018-04-12 22:13] justinclift commented on #277
Oops, this looks like it was well and truly missed.

@gilbertoverg Did you get it figured out?

[2018-04-12 22:19] justinclift commented on #288
@siy That probably best asked as an issue on the Motate project itself.  If you're still interested in the answer, would you be ok to ask it there? :smile:

[2018-04-12 22:25] justinclift commented on #288
@amx1 It's nearly 2 years since you wrote that description up of your self built 5-axis setup.  Is it still going strong, and what have you changed / improved / etc since?

Also... any video of it in action?  Looking for inspiration here.  I'm working on adding a 4th (A) axis first to my Shapeoko 3, with a strong intention to follow it up with a 5th (B) axis not too long after.

My 4th axis (so fa

[2018-04-12 22:29] justinclift commented on #205
Hey all, this issue looks pretty old and it seems like it's solved.

Is it ok to close this one, or are there bits that still need stuff done? :smile:

[2018-04-12 22:34] justinclift commented on #272
Closing this, as it was added back in a while ago by @ril3y with e9aba647b9ae0a59b048c14bb0d0fbe423137e44, as mentioned by @cmcgrath5035. :smile:

[2018-04-12 22:34] #272 closed

[2018-04-12 22:40] justinclift commented on #229
From looking quickly, that seems like this line:

https://github.com/synthetos/g2/blob/e9aba647b9ae0a59b048c14bb0d0fbe423137e44/g2core/board/ArduinoDue/gShield-pinout.h#L211

Is there a reason it hasn't been changed yet?  Just asking because it seems trivial to get done, so guessing there's a reason why it hasn't yet... :smile:

[2018-04-12 22:42] adleal commented on #205
I wound up using a work around by loading linux on an older computer and
compiling on there. Is there another way to do it now?

[2018-04-12 22:47] justinclift commented on #205
Hmmm, it should work on 64-bit Linux "fairly easily" these days.  I say "fairly easily" because when I tried it a few weeks back on CentOS 7 64-bit it "just worked".

Hadn't actually realised until reading this issue that there had been 32-bit vs 64-bit problems in the past, nor architecture issues to work through (eg compiling on ARM vs Intel host).

But, that's just one fairly-new-to-the-project

[2018-04-12 22:50] adleal commented on #205
Ok will see if I can try it next week.

[2018-04-12 22:59] justinclift commented on #205
Awesome, please do. :smile:

[2018-04-12 23:14] giseburt commented on #205
Some more info: The versions of the gcc toolchain we use (built by ARM) in
edge and master are only available in 32-bit for Linux. So for most Linux
machines running in Intel (or compatible) hardware you’ll need the 32-bit
compatibility installed. For many people they may have already installed
those, for others they’ll see this issue pop up.

Now for the near future branches like Dev-168 that we

[2018-04-12 23:16] justinclift commented on #205
k.  That sounds like we'll be requiring 64-bit Linux (at least on Intel) in the near-ish future.

When that happens, we should update our docs to mention it, just to keep things clear for people. :smile:

[2018-04-12 23:27] justinclift commented on #212
Hmmm, does anyone know the state of this atm?  Seing some discussion that looks related (eg #178), but it's not clear if the fix has made it's way into anything yet. :wink:

[2018-04-13 00:40] mawildoer commented on #300
Thanks guys! I'm glad there's some interest in it. I will have to make the code public now.

I actually rebuilt the GPIO section of the g2core code. It's now more OO based which is convenient given the possibility for SO many IOs that CAN opens.
I've added a CAN header and modified the compiler scripts accordingly. It was based on an arduino DUE CAN library which I gutted and re-referenced the hea

[2018-04-13 01:47] giseburt commented on #300
That would be very cool. Even if it doesn’t merge with current code then we
could at least utilize some of the CAN code. I’m in the middle of a GPIO
refactor as well, so there may be some work merging them in but it’ll be
god to see it done from a different perspective.

And whenever possible we’ll use actual commits so you get credit in the git
log. Failing that accreditation in the changelog.

T

[2018-04-13 03:56] martin2250 commented on #310
Hi Justin,

I switched back to grbl / grbl on STM32, so I didn't investigate this any further

[2018-04-13 04:26] kitwn commented on #314
Justin,
I managed to get Atmel-Studio 7 up and running an have compiled a binary with it which is now moving motors with the aid of a breakout board from djuke.nl. The link is to a thread on MYCNCUK which includes a video of where I'm up to.
Next time I have a few days off work I will be sorting out limit switches and producing my own bespoke config file to enable them.
http://www.mycncuk.com/thre

[2018-04-13 10:33] rkoe commented on #326
I tried some more, but without success.

The DUE-ARM has 5 uart/usart-interfaces:
- UART: ARM-pins URXD/UTXD, DUE-pins RX/TX, no RTS/CTS; used for programming the ARM
- USART0..3: ARM-pins RXD0..3, TXD0..3, RTS0..3, CTS0..3

Results:
- UART: When I select the UART (URXD/UTXD, DUE-pins RX/TX, DUE-pinnumbers 0/1), and select some other pins for RTS/CTS, compiling works.
  BUT: I don't think this wou

[2018-04-13 10:46] ril3y commented on #296
Mitch What are you making with g2?  We are always curious to see what
people make with it.  Any videos?

[2018-04-13 13:26] justinclift commented on #300
Definitely, please do. :smile:

[2018-04-13 13:39] justinclift commented on #300
As a thought, it there any chance you'd throw the design for the drivers you made, online somewhere under an Open Source license of some variety?  Just thinking it might be useful, so the next person wanting to do stuff in this area has a potentially easier time of it. :smile:

[2018-04-13 13:46] justinclift commented on #310
No worries @martin2250, the definitely makes sense.  Needing a working solution, and not getting a response -> revert to what worked. :smile:

Do you happen to have the custom Fusion 360 post processor around still, that you'd put together?  Just asking because I've been mucking around with making Fusion 360 post's for g2core recently too (various branches [here](https://github.com/justinclift/Mil

[2018-04-13 14:11] justinclift commented on #314
Thanks @kitwn, looks like solid progress. :smile:

Your video is nifty and is the first time I've seen Goko "in action".  Goko seems to have really good support for g2core.

In the part where you're showing the motor settings, only 4 motors were shown.  Any idea if that's a hard coded thing in Goko, or if it was adapting to the number of motors defined in the g2core config?

eg if someone with 6 m

[2018-04-13 14:12] justinclift commented on #314
Oh, that g2core shield looks nifty too.  When I get past my own "make it work on a breadboard" stage, that might be a useful upgrade for me as well.

We should probably create a page on the wiki that lists g2core compatible boards (with links, info, etc) to make things easier for future people.  How did you come across that board? :smile:

[2018-04-13 14:18] justinclift commented on #312
Reading through this, it seems well and truly answered by now. :smile:

So, going to close this issue.  If I've somehow missed something and it should be kept open instead, please feel welcome to re-open it. :smile:

[2018-04-13 14:18] #312 closed

[2018-04-13 14:20] justinclift commented on #312
@scotthz

When you've had a chance to investigate, please create an issue for it if it does turn out to be a bug. :smile:

[2018-04-13 14:25] justinclift commented on #314
@alfredanil Looking at the RADDS v1.5 page [here](https://www.reprap.me/radds-v15.html), it does seem like a potentially good alternative as well.

Did you get the updates (eg motate, etc) finished to make it "just work" with g2core? :smile:

[2018-04-13 14:27] justinclift commented on #314
@alfredanil

Interesting thought.  Might be useful to look into it later. :smile:

[2018-04-13 14:50] kitwn commented on #314
Justin,
At the price I decided to just buy the Djuke.nl board rather than bother making even the simplest prototype breakout myself. The site sugests using the Shapeoko config which is what I have done. The next step is adding limit switches and confirming their configuration on my test bed. You cannot configure that via the Goko GUI, though you could write a dedicated text file and upload it.

Th

[2018-04-13 15:33] justinclift commented on #314
Good suggestion. :smile:

Yep, it does seem that way. :smile:

[2018-04-13 17:04] MitchBradley commented on #296
I make golf putters from bamboo.  There is a time-lapse video at
https://www.youtube.com/watch?v=yoLG7eB8SuI

In that video, the milling is done with Mach3 but since then I have built a new shop that is specialized for putters, converted my Taig mill to a g2core/Due/RaspberryPi/cncjs controller, and added several cnc processes to replace manual shaping.

[2018-04-13 17:18] ril3y commented on #296
Pretty awesome!  Thanks for sharing.

[2018-04-13 17:18] justinclift commented on #296
Excellent!  We'd better make a page on the wiki that showcases stuff being created with g2core.

This should go on there. :smile:

[2018-04-13 17:30] justinclift commented on #296
New "g2core in use" page created here:

&nbsp; &nbsp; https://github.com/synthetos/g2/wiki/g2core-in-use

Not 100% sure of the wording, layout, etc, but it seems like a reasonable start. :smile:

[2018-04-14 08:51] martin2250 commented on #310
I've just stripped the existing grbl PP to the bare minimum (no spindle enable/speed, no coolant, no M30 at the end, just plain motion commands): https://github.com/martin2250/RandomBits/blob/master/BetterGRBL.cps

[2018-04-14 12:42] gilbertoverg commented on #277
I'm still not able to get this working properly, I tried changing NV_STATUS_REPORT_LEN
[code]
and adding lines in config_app.cpp
[code]
but with my STATUS_REPORT_DEFAULTS
[code]
sometimes some reports are missing, for example:
[code]

[2018-04-14 13:40] giseburt commented on #310
Did you try the built-in TinyG post in Fusion? I’ve been cutting a fair bit
using arcs in all three plains and having no issues.

-Rob
On Sat, Apr 14, 2018 at 3:51 AM Martin Pittermann <notifications@github.com>
wrote:

[2018-04-14 14:17] martin2250 commented on #310
I can't find the part anymore, so I can't test this easily. The file worked on grbl, so there shoudn't be any issues with the post. Just take a look at this G2 in ChiliPeppr vs OpenCNCPilot (or test it on your machine with the steppers powered down):
[code]

[2018-04-15 16:43] ril3y opened #332 "Printing from cura fails after successful print."
If you print directly from cura and the print finishes successfully cura still seems to think a print is "going" and you cannot print again without clicking "abort print" then pressing print via usb.

Cura Version 3.2.1

[2018-04-15 18:05] justinclift commented on #332
Any idea what Cura requires (G/Mode?) as "end of job"?

Kind of sounds like M2/M30 isn't getting sent from it and/or not doing the trick.

Meh, sounds like you're already investigating... :smile:

[2018-04-16 11:47] aldenhart commented on #176
I ported this page over from the TinyG repo and modified it for g2core.
https://github.com/synthetos/g2/wiki/G2core-License

It explains the intent of the licensing and the BeRTOS exception.

I'll leave this issue open in case you think there's further action required.

[2018-04-16 14:12] justinclift commented on #176
Just created a PR adding it to the repo as a file, which I *think* will complete things for this issue. :smile:

[2018-04-16 15:22] justinclift commented on #134
Taking a look through some older issues to close out ones that don't seem useful any more.

With this, I've just taken a look at the [settings_default.h](https://github.com/synthetos/g2/blob/cb7bf178e76ea1ce855dd940bfbc37eb8df2b2d4/g2core/settings/settings_default.h#L548) file, and it's still M1.  So this issue may still be relevant.

Thinking about it... the A axis does seem to be commonly used w

[2018-04-16 15:36] aldenhart commented on #134
Makes sense to make Motor4 the default.

Please keep in mind that some machines (like Othermill) use different motor/axis mappings for physical wiring reasons. I only bring that up here so it's brought to people's attention. We may want a comment that the setting is only a default. But perhaps that obvious by the filename :-)

[2018-04-16 16:04] justinclift commented on #134
Yeah, I'll create the PR for the settings_default.h file, but leave the others alone under the assumption they've already been tweaked for their intended purpose.

Which reminds me, I should look into the details of those other machines, then add them to the new "[Who uses g2core?](https://github.com/synthetos/g2/wiki/g2core-in-use)" page.

[2018-04-16 17:45] justinclift opened #335 "Potential new Marlin code to add: M400"
While poking around the Printrbot website(s), looking for info on which of their products use g2core, this problem showed up:

* [G2 Board and M400 gcode](https://printrbot.zendesk.com/hc/en-us/community/posts/115018180483-G2-Board-and-M400-gcode)

It looks like Octoprint uses [M400](http://marlinfw.org/docs/gcode/M400.html), which we don't yet recognise.

That seems to be a print queue related co

[2018-04-16 19:26] justinclift commented on #182
@alessandrolecce @RoXX891 This issue is fairly old now, and had [a possible fix](https://github.com/synthetos/Motate/commit/39e5aef705a809bfd8e91393b2f1d132ab15dd83) added to the main source code near the start of 2017.

Are either of you still doing stuff with g2core, and if so did you get this working for yourselves? :smile:

[2018-04-16 19:30] justinclift commented on #163
This issue **seems** like it should be fixed with https://github.com/synthetos/Motate/commit/39e5aef705a809bfd8e91393b2f1d132ab15dd83.

The comment from @hodgeac though leaves me unsure.

@hodgeac Do you still do stuff with g2core, and did you get around to investigating the root cause of this in depth? :smile:

[2018-04-17 09:34] aldenhart commented on #304
Closing this issue with PR #305.

The addition of UVW adds three more linear axes, allowing up to 6 linear axes in a configuration. This simplifies using an axis as an extruder filament feed motor or similar function. (Recommend using W, as it's a secondary Z).

This release treats the secondary axes as independent axes; there is no linkage between corresponding axes - i.e. movement in U does not

[2018-04-17 09:34] #304 closed

[2018-04-17 21:56] justinclift commented on #176
License text has been merged into the top level of edge.

Is being merged into edge considered good enough for this issue to be closed, or should we generally wait until code has made its way into master (more stable)?

[2018-04-18 18:29] justinclift commented on #176
After thinking about this a bit more... went and looked at the other recently closed PRs'.  Looks like being merged into edge is when things are considered done (generally speaking).

So, closing this now. :smile:

[2018-04-18 18:29] #176 closed

[2018-04-18 18:30] giseburt commented on #176
Oh, good point. We somehow need to indicate that all development is done against edge, and all PRs then need to be against edge.

[2018-04-18 18:31] justinclift commented on #330
@rkoe ping?

Hoping you have time to verify the change.  Just as a "Quality Assurance" step mind you. :smile:

[2018-04-18 18:37] justinclift commented on #176
Well, the "do PR's and dev on edge" (paraphrasing) is mentioned a fair amount on the [Development process](https://github.com/synthetos/g2/wiki/Development-Process) page.

The bit I was unsure of was whether getting merged into edge is considered "done" enough for closing an issue, or whether the norm here is to wait for things to potentially stabilise.  eg wait for the new PR'd code to get into m

[2018-04-18 18:40] giseburt commented on #176
No, that's a valid point. If we were using milestones, then I'd say *those* don't close until the PRs involved are merged to master. But we aren't quite there yet…

-Rob

[2018-04-18 20:41] rkoe commented on #330
Looks consistent now. :)
But I haven't tested it with a real machine, yet.

[2018-04-18 20:43] justinclift commented on #330
Thanks @rkoe, it was just the 2nd set of eyes to verify the doc change is all I was looking for.

I'll close this now as the doc update is done + verified.  If it turns out that the code **doesn't** actually work that way for some reason, we can make another issue out of it and figure out wtf then. 😀

[2018-04-18 20:43] #330 closed, assigned to nobody

[2018-04-18 20:51] justinclift commented on #163
I've gone through the process of compiling `master` and `edge` branches on Win 7 x64 a few times using Atmel Studio 7 over the last day and a bit.

So far, no errors at all.  So I'll close this under the assumption the issue is now fixed.

If for some reason it turns out I'm wrong, please feel welcome to re-open it so we can investigate. :smile:

[2018-04-18 20:51] #163 closed

[2018-04-18 20:53] justinclift commented on #182
Looking back at this issue, it seems like something that can be safely closed.

If for some reason it turns out I'm wrong, please feel welcome to re-open it so we can investigate. :smile:

[2018-04-18 20:53] #182 closed

[2018-04-18 20:54] aldenhart commented on #330
I'm pretty sure the code works correctly. I just checked the parse. This was probably a documentation error - caused by me. Thanks for chasing it down.

[2018-04-18 21:11] rkoe opened #336 "init: coolant not initialized, no early I/O-init"
There are two issues with I/O-initialization:

1. **Coolant:** The coolant is not initialized. So, when setting the coolant to low-active, the coolant is on at power-on.

2. **late I/O-init:** The I/Os  are initialized **after** waiting 400ms for USB. So, for default-low-outputs, this results in a power-on-spike of ~0.4s. It would be better to **first** init the I/Os ("early I/O-preinit") to make

[2018-04-18 21:17] justinclift commented on #164
Looks like this got missed somehow.  It definitely sounds like a bug.

Even though this was reported ~1.5 years ago, we should should definitely check if it's still happening in `master` and/or `edge` branches then figure what to do from there.

@lutorm Just to ask... since you're still doing stuff with g2core (eg judging by #323 :wink:), did you notice if this bug was still happening with edge in

[2018-04-18 21:20] justinclift commented on #336
With the coolant bit, would you be ok to create a Pull Request with that change?

For the early IO bit... yeah that does sound like more discussion is needed. :smile:

[2018-04-18 21:39] aldenhart commented on #164
I will test this one, but I think it's been fixed. Let's leave it open.

[2018-04-18 21:41] rkoe commented on #331
I tested it again with minicom, and this time it worked.
I'll do more tests, try to reproduce the error and report back.

[2018-04-18 21:58] justinclift commented on #142
Thanks for this @ewidance.  Sorry for the really long delay.

With the script for using the Due from OSX, that should be fixed already in the [edge branch](https://github.com/synthetos/g2/blob/2337102e71de9d9eb29fea6405365915dc2475a2/Resources/TinyG2-OSX-Programmer/DueFromOSX.sh#L60-L80) version. :smile:

With the 2nd bit... the file `atmel_sam-flash.sh` doesn't seem to exist (any more).  At a gue

[2018-04-18 21:58] #142 closed

[2018-04-18 22:00] #127 closed

[2018-04-18 22:05] lutorm commented on #164
No, I haven't looked lately. I don't have a lot of time for this right now but I can try it next time.

[2018-04-18 22:07] justinclift commented on #335
The behaviour described by the [M400 doc](http://marlinfw.org/docs/gcode/M400.html) sounds similar to the behaviour desired in #138 for `G4P0`.

[2018-04-18 22:07] aldenhart commented on #331
It was tested on PR#305 (UVW) and it works as expected. That build also supports Z lift on feedhold. Try it out.

PR#305 is now in edge. Please let me know if you see any problems.

[2018-04-18 22:22] justinclift commented on #164
No worries.  Thanks @lutorm. :smile:

[2018-04-18 22:47] justinclift commented on #292
@abdrumm As a thought, there's a start towards a page listing G2core (and TinyG) based products here:

&nbsp; &nbsp; https://github.com/synthetos/g2/wiki/g2core-in-use

And yeah, it's mostly Printrbot entries for now, as they were the easiest to figure out which ones use TinyG/g2core.  Would you be ok to cast an eye over it and let me know if anything's wrong?  Or just edit the page directly if yo

[2018-04-19 14:02] justinclift commented on #336
As a data point, the PR to address the first bit is in #339. :smile:

[2018-04-19 14:06] justinclift opened #340 "Releases page is missing .elf/.bin for gShield"
This is mostly just a reminder for myself, to add the gShield .elf and .bin to our Releases page.

Mainly because for new users it'll provide them a .bin they can use "as is" without having to go through any of the compiling/development steps.

That's preferable, because this will get beginners to "Motors are moving!" earlier on in the process.  Better for motivation. :smile:

[2018-04-19 14:11] giseburt commented on #340
BTW: That would be done by editing the travis file. TravisCI automatically pushes builds to the Releases pages.

https://github.com/synthetos/g2/blob/master/.travis.yml

[2018-04-19 14:14] justinclift commented on #340
Thanks @giseburt.  That looks really straightforward. :smile:

[2018-04-19 17:19] justinclift commented on #205
@adleal Reminder ping. :smile:

[2018-04-19 17:22] justinclift commented on #279
Closing this due to lack of response.

[2018-04-19 17:24] justinclift commented on #300
@mawildoer Reminder ping. :smile:

[2018-04-20 04:56] pbannister commented on #292
@justinclift I have not yet returned to this topic. Looks to be a week or two away.

[2018-04-20 18:26] justinclift commented on #292
Thanks @pbannister, no worries. :smile:

[2018-04-22 10:21] mawildoer commented on #300
Thanks guys, I've made the repo for all our work on g2core public. I'm sorry about the mess it's in, but it shouldn't take long to get the structure in. A few commits ago, there was work on a major revision and it may be wise to go a few back for the most stable work.

https://github.com/geratech/controller

As for the servos, certainly nothing special going on there. All the schematics are availa

[2018-04-22 12:34] justinclift commented on #300
That's Awesome @mawildoer, thanks heaps! :smile:

No worries at all about the state it's in.  Some of my dev code is **all kinds** of interesting (not the good sort) while I'm trying to figure something out.  Shouldn't be a problem. :wink:

With the branches there, the two main ones with work in them appear to be the [can_ths](https://github.com/geratech/controller/commits/can_ths) one and [master

[2018-04-23 10:39] mawildoer commented on #300
I reckon the first working (obviously the simplest) is called "CAN fucking works now. woop woop. THS on pin 9" -- It was around 3am I believe

Tracking through those master commits, it looks like I did a better job than I remembered keeping master clean enough.

[2018-04-23 13:04] justinclift commented on #300
Thanks @mawildoer. :smile:

[2018-04-25 21:12] adleal commented on #205
Sorry for the delayed response but I had too many things on my plate last
week. Today I was trying to install a 64 bit Unix system on the same Linux
box I was running the 32 bit system that finally allowed me to compile
everything... but unfortunately I ran into some hardware issue with
overheating (which I never had before)... so it looks like I won't be of
much help.

On Thu, Apr 19, 2018 at 1:1

[2018-04-25 22:31] adleal commented on #205
Okay, I was able to get a 64-bit Linux system running but when I went to compile I got this error:

[code]

[2018-04-25 22:52] rkoe opened #342 "Any working GUI / graphical user-interface / g-code-sender for g2core?"
Is there *any* working GUI / graphical user-iterface / g-code-sender for g2core on Arduino DUE?
I've tested several, but all failed:

- cnc.js: Looks good, but is very slow; when gcode runs, the browser-interface uses 100% cpu, but the display is rarely updated (e.g. the shown position is only updated every 10-30s or so, and usually much behind the machine), and feedholds are delayed up to e.g. 7

[2018-04-25 22:54] rkoe commented on #331
Tested again, and it works.
Turned out that the user-interfaces (cnc.js, Goko, chilipepper) are bad and break the feedhold. With direct serial communication, it works fine.

[2018-04-25 23:00] justinclift commented on #342
Yeah, I hit the same problems.  Actually wrote my own *super basic* (non-graphical) g-code sender, which literally just dumps a file straight to the g2core tty/com port.  With very basic setup / initialisation at the start:

&nbsp; &nbsp; https://github.com/justinclift/g2sender

Doesn't yet accept any keyboard input.  So, no feed hold, no pause, no resume. (!)

It's written in Go, which means it's

[2018-04-25 23:03] justinclift commented on #205
Damn.  That looks like it's not downloading the right bits for you for some reason.  With the 64-bit Linux you got running, which distro and which architecture? :smile:

[2018-04-25 23:05] justinclift commented on #342
Oh, have you taken a look at this yet?

&nbsp; &nbsp; https://github.com/synthetos/node-g2core-api

That might be useful.  From (dodgy) memory, when I tried it out it only "kind of" worked, thus my writing the super basic g2sender thing.  But you may have more luck. :smile:

[2018-04-25 23:51] adleal commented on #205
Okay after rereading the thread carefully I installed the 32-bit Linux compatibility using:

**sudo apt-get install lib32ncurses5 lib32z1**

and was then able to compile successfully:

_Exporting symbols bin/TestV9-g2v9k/g2core.elf.txt
Making binary bin/TestV9-g2v9k/g2core.bin
--- SIZE INFO ---
   text	   data	    bss	    dec	    hex	filename
 162896	      0	  35024	 197920	  30520	bin/TestV9-g2v9

[2018-04-26 00:29] justinclift commented on #205
Cool! :smile:

[2018-04-26 00:39] justinclift commented on #300
Just as potentially useful reference info for anyone else looking into the CAN side of things with the Arduino Due, this site has plenty of Due relevant info:

* http://copperhilltech.com/blog/arduino-due-can-bus-controller-area-network-interfaces/

Saying that after reading **way** too much about CAN today.  Most CAN stuff around isn't Due specific, and the above website (copperhilltech.com) has

[2018-04-26 02:08] mawildoer commented on #300
Thanks for the reference Justin. That's actually where I got started with it as well. Great reference and useful for debugging as well

[2018-04-26 14:58] ril3y commented on #342
Shopbot actually uses this:

http://gofabmo.org/

Its supposed to be geared towards smart machines so you can adjust it to
fit your needs.

Riley

[2018-04-26 15:46] justinclift commented on #342
Interesting.  From a cursory look it seems a bit complicted to setup. But, haven't gone through the process to actually try it out yet.  Might turn out to be simple and work perfectly. :smile:

[2018-04-26 21:37] rkoe commented on #256
On some of my tests, the feedhold was not ignored, but delayed for several seconds, especially during G2/G3-movements. Is this intentional or a bug?

Example:
[code]

[2018-04-26 21:43] rkoe opened #343 "M0 behaviour?"
Usually, at M0, the machine stops and waits. It only continues at the next line after some kind of cycle-start button is pressed.

At g2core, M0 causes the machine to temporarily stop and set the "Machine state" to "Stop", but then the machine immediately continues with the next line (with "Machine state" still being "Stop").

Is this intentional?
I would have expected that g2code stops and waits

[2018-04-26 21:45] rkoe opened #344 "(msg...) / gcode messages"
The Gcode-wiki-page (https://github.com/synthetos/g2/wiki/Gcodes) lists a "gcode message": (msg ...)

How are they echoed to the operator?
g2core does not send any message; so is this the task of the g-code-sender, and should the wiki-text be modified to:

Example:
[code]

[2018-04-26 21:47] rkoe opened #345 "line mode questions / bugs?"
g2core recommends to use the line mode (https://github.com/synthetos/g2/wiki/g2core-Communications). But this seems to work only partially:

- "Every command will return one and only one response." is wrong.
  Some command return more then one {"r":...}.

  E.g.:
[code]

  Are there more? And how can this be fixed/worked around?

- lines_to_send should probably also reset after sending a %.
  Corr

[2018-04-26 21:53] rkoe commented on #342
I've now written a small text-mode-tool (incl. feedhold and mini-terminal) in Python. It works, and I've found some unexpected behaviour of g2core (see other issues).
(I'll probably extend my tool by ncurses and/or GTK+ in the future.)

node-g2core-api does not really help, since afaik it's only a "enhanced terminal", but not a g-code-sender.

gofabmo looks interesting, but seems to be tailored to

[2018-04-26 22:03] giseburt commented on #344
I believe you've found a bug. You should get back: {r:{msg:"test message"}, f:[…]}

-Rob

[2018-04-26 22:30] giseburt commented on #345
Ah, you've found the uber-groups. Those are shortcuts for calling multiple other calls, and should be mentioned in the wiki as exceptions to this rule. Currently, they should be specifically avoided in line mode without special consideration, as they do not have a clear way to know when they are done.

{m:n} can be replaced with
{m1:n}
{m2:n}
{m3:n}
{m4:n}
{m5:n}

Similar for q and o.

We have dis

[2018-04-26 22:33] rkoe commented on #344
But when should I get this back?

- when executed: I would expect to get it back when this line is executed in g2core. But then, `{r:{msg:...}}` looks wrong and would break line mode.
- when sent: This would fit to `{r:{msg:...}}`, but then it would break the g-code-sequence.

[2018-04-26 22:35] giseburt commented on #256
CoolTerm appears to not handle multiple windows properly. I have tested with the sender in node-g2core-api the dual-port mode extensively, and the machine responds within a few milliseconds of receiving the !.

That's part of the reason for making that utility. Unfortunately it's a little outdated and needs some love. It works great if you use node 6.x, but needs updated to work with newer node an

[2018-04-26 22:39] rkoe commented on #256
Oh, maybe I shouldn't have posted it in this issue.
For my tests I did not use CoolTerm but minicom or Python-serial (so I have full control and can check what is sent/received when). And there, I sometimes got such a delay.

[2018-04-26 22:39] giseburt commented on #342
node-g2core-api has a binary utility 'g2' in it if installed globally. It follows the line mode (and is what we use to formulate and test line-mode).

It needs some updating, but works well in node 6. (NPM throws some interesting but ignorable warnings when installing.)

It works to send files as well as act as in interactive terminal. I use it for both extensively.

-Rob

[2018-04-26 22:42] giseburt commented on #344
@rkoe That's a valid question. I believe it should be in the {r:...} for the line itself, so it would be when queued, but not in line with motion.

[2018-04-27 09:55] rkoe commented on #345
Thanks for clarification.

Hmm, but that probably doesn't help with line-mode, since I guess ueber-group-responses and other responses could be mixed.
**Or could they?**
If not -- so, if the responses are _always in the same order as the requests_ -- I could determine the uber-group-response-end by sending an additional request directly after the uber-group-request and wait for its answer. (e.g. s

[2018-04-27 10:42] aldenhart commented on #343
I think you have identified what I'll call "an enhancement". But I'll label it as a bug. After an M0 the Gcode program should stop until a cycle start is issued.

[2018-04-27 11:09] aldenhart commented on #344
You may be right that the message is returned on parsing - I have not checked. But think the more correct behaviour is to queue the message response to the motion, then send the message synchronized with the motion. This way it supports messages to the operator to do things like change tools, turn things on and off along with commands like M0 or M1.

If that's the case, the message would need to b

[2018-04-27 14:44] rkoe commented on #331
Now I think I've tracked it down:
On low ct and lower xjm, feedhold does not work correctly during G2:
- $ct=0.01, $xjm=1000: works
- $ct=0.01, $xjm=50: works
- $ct=0.001, $xjm=1000: works
- $ct=0.001, $xjm=50: fails. Sending a feedhold makes g2core to switch to machine state 6 (HOLD), but the machine stops **much** later (here: about 15 seconds).

(I've used $ct=0.001, since this creates nice smo

[2018-04-27 17:35] justinclift commented on #342
@rkoe

(I'll probably extend my tool by ncurses and/or GTK+ in the future

Cool.  Did you chuck it up on GitHub?  Yep, that's me wanting to be lazy as having to make my own gcode sender isn't really a personal goal. :grinning:

So, if I can just use yours and it works "well enough" without having to continue mine, I'd consider that a (personal) win. :wink:

@giseburt

Pretty sure I tried that earl

[2018-04-27 19:11] rkoe opened #346 "g2core crashes with M0/M2/M3/M7/... + feedhold"
g2core crashes completely (no more communication, no blinking RX-LED on Arduino Due) when the program contains M0 and a feedhold is issued.

Example:
- G-code:
[code]
- issue a feedhold during movement
- communication log:
[code]
   The sr-line after the "!" is sometimes there, sometimes not.
   Afterwards, g2core has crashed.

[2018-04-27 19:13] justinclift commented on #346
Just to double check, this is with the latest commit of the edge branch yeah? :smile:

[2018-04-27 19:24] rkoe commented on #346
- I've used the master-branch.
- I've tested more: It's not only M0, but maybe all M-codes. I've tested it with M0, M2, M3, M7.
  If a M-code is in the g2core-buffer and a feedhold is issued, g2core crashes.
  The minimal example and communication log is exactly as above (but with M0 replaced by M2/M3/M7).

[2018-04-27 20:26] justinclift commented on #346
Ahhh, that's sounding like it narrows down the problem area pretty well. :smile:

[2018-04-28 06:41] rkoe commented on #342
Yes, I will publish my g-code-sender. It already works pretty well. :smile:

It does not yet have a nice graphical user-interface; it's just some kind of enhanced serial console which runs in a Linux-terminal. But you can run g-code-programs, use feedhold/resume/flush and directly communicate with g2core for everything else. It also periodically displays the current machine-state, the currently ex

[2018-04-28 06:48] yck011522 commented on #342
Thanks rkoe for testing so many software. I would love to see some GUI solution for a Windows machine that doesn't involve some tweaking to get it to work.

[2018-04-28 15:40] justinclift commented on #342
Awesome. :smile:

Would it be feasible to have some kind of "initialisation code" that gets sent to the g2core board automatically when the connection is made?

eg sending the various tuning parameters, so people don't have to compile their own firmware

That would nicely complement #340 (which I'll probably manually upload initial .elf/bin files for today).

This would let people download a worki

[2018-04-28 18:19] rkoe commented on #342
Yes, of course. I've planned a machine-config-file.

Note that some GUIs already do this: In cnc.js you can define a macro for this, and I think goko (or UGS?) has a config-dialog.

[2018-04-28 18:36] giseburt commented on #342
In the g2 utility that’s in node-g2core-api you can use the -i option to
send a JSON file of configs to the board on connection.
On Sat, Apr 28, 2018 at 1:19 PM Roland Koebler <notifications@github.com>
wrote:

[2018-04-28 18:40] justinclift commented on #342
Awesome. :smile:

[2018-04-29 19:16] justinclift commented on #340
I've just manually added the gShield [.bin](https://github.com/synthetos/g2/releases/download/100.26/g2core-gShield-100.26.bin) and [.elf](https://github.com/synthetos/g2/releases/download/100.26/g2core-gShield-100.26.bin) files to the existing 100.26 release in the Releases section.

That should get things closer to optimal for now, before the automatic Travis PR approach is completed. :smile:

[2018-05-06 16:48] giseburt commented on #336
PR #339 has been closed. What else is needed for this issue?

[2018-05-07 11:47] justinclift commented on #336
The second part to the problem still needs thinking about, and probably some code changes (hopefully minor):

Potential solution:

application_init_machine() and application_init_startup() to an earlier location.

Potential solution code from @rkoe (main.cpp):

[code]

Note that @rkoe mentions since he doesn't know the codebase in depth, he'd really like someone familiar with it to chime in.  If t

[2018-05-07 13:49] justinclift commented on #129
For anyone else coming across this, the "create a config for mapping pins and settings" wouldn't be hard.  The 5v vs 3.3v thing though is more worrying, as it sounds like this board could damage the Due over time in use.

On the other hand, if someone knows a way to modify the Protoneer CNC shield to use the 3.3v supply provided by the Due instead of the 5v one, it **might** work out ok.

Someone

[2018-05-07 14:11] justinclift commented on #129
Hmmm, this looks like the right kind of thing: https://forum.protoneer.co.nz/viewtopic.php?f=8&t=535#p2000

Seems pretty simple. :smile:

[2018-05-08 17:01] aldenhart opened #347 "GPIO Enhancements"
This issue addresses enhancements to the GPIO system.
Supporting documentation can be found [here](https://github.com/synthetos/g2/wiki/gpio-design-discussion).

[2018-05-13 14:07] giseburt commented on #345
So we are considering a few alterations to the response format to indicate that the response is not done.

Basically the concept would be that a reply somehow indicates that it continues to the next reply line. The host software would then simply not alter `lines_to_send` in that case and know the the next response line is to be merged with this one.

Does that seem like a resonable solution? We h

[2018-05-13 21:47] #100 closed

[2018-05-14 00:33] aldenhart commented on #325
Closing this for now.

[2018-05-14 00:33] #325 closed, assigned to nobody

[2018-05-14 00:37] aldenhart commented on #314
I will close this comment as this conversation appears to be over. Please feel free to re-open if you want to continue the conversation.

[2018-05-14 00:37] #314 closed

[2018-05-14 19:45] aldenhart opened #348 "Motors should remain powered during feedhold"
Currently motors will become unpowered if their power timeout expires during a feedhold. This should not happen. Motors should remain in the same powered state (on/off) that they entered feedhold for the duration of the feedhold.

[2018-05-14 19:55] aldenhart commented on #346
I was unable to reproduce this on edge, so the problem is probably isolated to master. I think the best approach is to promote edge in the near future.

Please post any experiences you might have on edge.

[2018-05-14 19:56] giseburt commented on #348
This brings up an interesting question: Should feedhold have a safety timeout in this case?

[2018-05-14 20:51] justinclift commented on #346
@rkoe As a data point, a bunch of stuff has been commited to the edge branch over the last few days, so if you have time to check with that it'd be nifty. :smile:

[2018-05-16 12:41] justinclift commented on #168
Note - Just fixed the URL in the original post, as it had busted over time.

[2018-05-17 00:34] pbannister commented on #292
So ... off by a couple weeks.

This is more of an FYI. Not making an ask.

Started by trying to trying to compile on a Raspberry Pi3 (will be on the printer running OctoPrint, so makes sense), but that still does not work, for reason you explained prior. (Hey. Had to check...)

Could create a Linux VM on my Macbook, but instead tried using Google's Cloud Shell (the advantage being a standard envir

[2018-05-17 01:22] giseburt commented on #292
It would be easy to make a Docker image that you could compile in. Look at
the .travis.yml (https://github.com/synthetos/g2/blob/edge/.travis.yml )
file for how it sets up for the build. I believe Travis uses an image with
build-essential installed already. (See
https://docs.travis-ci.com/user/reference/trusty/#Compilers-%26-Build-toolchain
)

[2018-05-17 05:15] pbannister commented on #292
FYI, compiles fine on a 32-bit Ubuntu VM (no surprise):
Ubuntu 16.04.4 LTS (GNU/Linux 4.4.0-116-generic i686)

[code]

Any current preference on the branch to use?
[code]

[2018-05-17 07:16] justinclift commented on #292
`master` has had more people testing it over time, so might be better for getting started with. :smile:

`edge` is useful for creating PR's from, doing development work on, and that kind of thing.

As a thought, someone mentioned recently that Cura is known to work, though I'm not sure which branch they were running.  They did mention a few minor warnings were printed at some point.

Not sure abou

[2018-05-17 07:20] justinclift commented on #292
@giseburt Not sure if `build-essential` would help with a 64-bit host.  When I was [testing stuff out the other day](https://github.com/synthetos/g2/pull/39#issuecomment-388637093), it didn't help with a minimal install of Ubuntu 18.04 x64.

Using apt-get to install `libstdc++6:i386` though worked, as that pulled in a bunch of dependencies and the make process then succeeded.

[2018-05-17 07:33] justinclift commented on #292
@pbannister One small gotcha to be aware of (and we'll probably change things in the near-ish future), is that since you're compiling for the `gShield`, the X/Y/Z axes for that start out disabled:

* https://github.com/synthetos/g2/blob/1ff7f600923c622fbf2b546e7d15a24498d1d1c1/g2core/settings/settings_default.h#L372
* https://github.com/synthetos/g2/blob/1ff7f600923c622fbf2b546e7d15a24498d1d1c1/g2

[2018-05-17 11:46] justinclift commented on #275
Closing this, as it was fixed recently with 4608936af1f0ba5525378f1f8c5f189136393bdc. :smile:

[2018-05-17 11:46] #275 closed

[2018-05-17 16:36] justinclift opened #349 "Possible bug with 101.02 - error "Soft limit - X min""
Found what **seems** like a bug with 101.02 (current edge) today, when trying to cut out a ~reasonably simple circle, diamond, square test with machining wax.

![11 02-circle_diamond_square_v1-fusion360](https://user-images.githubusercontent.com/406299/40190843-bb6bc9ec-59f7-11e8-885c-d8a4869b2358.png)
![11 02-circle_diamond_square_v1-cncjs](https://user-images.githubusercontent.com/406299/4019085

[2018-05-17 16:53] pbannister commented on #292
Thanks for clarifying the branch choices. To clarify my interest...

I have two 3D printers at present, and am building a third of my design. The third printer is to run g2core. The two present printers each have an attached Raspberry Pi3 running OctoPrint. In effect, OctoPrint provides a web-based control panel for the printer(s). OctoPrint is very, very nice - so much so that I entirely removed

[2018-05-17 17:30] justinclift commented on #292
Cool.  Your photo's look nifty. :smile:

Branch wise, definitely use the `master` branch for now, as you'll probably want something stable to work with.

If you do hit bugs or weirdness though, do check if the master branch has been updated since you last compiled and flashed the Due.  It doesn't happen super often, but it's worth keeping an awareness of. :smile:

[2018-05-18 03:05] pbannister commented on #292
Should have mentioned, the printer is using CoreXY, which seems to have not yet landed in the master branch: #215 and/or #285 . So ... maybe not the **master** branch. (Got as far as defining the **settings/settings_spaceage3d.h** file, and **M1_MOTOR_MAP**.)

Seems I have to use branch **dev-168-gquintic** for now? Or...??

[2018-05-18 11:09] justinclift commented on #292
Oops.  Sorry @pbannister, I didn't realise that CoreXY meant it needs different Kinematics handling.

You're right, only the `dev-168-gquintic` branch seems to have the patches in it.

Looking at the commit by @giseburt which adds the support (based upon code by @ewidance), it looks like the **Mn_MOTOR_MAP** value should be set to `AXIS_COREXY_A` or `AXIS_COREXY_B` (depending on which axis it's su

[2018-05-18 11:10] justinclift commented on #292
Also note that the dev branch there is more experimental than the stable master branch.  So... well... definitely report back any bugs or weirdness you hit.  Wouldn't be too surprising to find unexpected gotchas in parts of it. (!) :wink:

[2018-05-18 11:22] justinclift commented on #292
Hmmm, trying to compile that branch just now fails for me.  eg:

[code]

[code]

[code]

Ok, this branch might not be a go-er at the moment. :frowning:

Wonder if the CoreXY patch would apply cleanly to the `master` branch (and work).  That might be worth a shot. :smile:

[2018-05-18 11:23] justinclift commented on #292
Just tried it.  Doesn't cleanly apply. :frowning:

I think we'll need some direction from @giseburt on this one. :smile:

[2018-05-18 13:55] ril3y commented on #292
Rob is sick with the flu (his whole family is down) so it might be a bit of
a delayed response.

[2018-05-18 14:29] pbannister commented on #292
The last bug that went around took me out for a week, about three weeks
back, and still lingers. :/

Did find the example CoreXY usage. Going to look at patching the change to
kinematics.cpp into master ... maybe (looked isolated?). Have to get a kid
off to school, first.

[2018-05-18 14:29] justinclift commented on #292
Thanks for the update @ril3y. :smile:

[2018-05-18 15:07] ril3y commented on #292
I could be wrong but dev-168 is the only branch I know that is capable of
3d printing.  I have been printing with it for a few months now.  I am
using cura to slice / send print job.

On Fri, May 18, 2018 at 10:29 AM, Justin Clift <notifications@github.com>
wrote:

[2018-05-18 15:23] pbannister commented on #292
If so then all the Printrbot (and Ultimaker) definitions in *master* are a lie. :)

CoreXY support is not in master, as yet.

[2018-05-18 15:31] aldenhart commented on #292
Notes:
* The edge branch is capable of 3d printing. The Printrbot uses an M3 ARM core and uses that code.
* The Ultimaker settings are there for retrofitting the Ultimaker with the edge branch, which we have also done.
* The dev-168 branch is the M7 ARM core branch, and also has 3d printing functions, but works only on some pre-release HW we are currently testing.

Hope that clarifies things.

[2018-05-18 17:56] pbannister commented on #292
What branch are @abdrumm and the Printrbot folk using?

[2018-05-18 22:01] pbannister commented on #307
I would suggest the label we want is "predictive extrusion management" (or the like), as the end-to-end goal is to extrude a precise amount of plastic (perhaps zero) at a reasonably precise temperature.

To get to the end result, we will need to vary the heat input into extruder, planned in advance to allow heat to soak through the metal into the plastic. (Rapid increases in extrusion rates will c

[2018-05-18 23:10] pbannister commented on #292
FYI, when switching between branches, I needed to delete:
`rm -rf g2/Motate/Tools/linux`
Otherwise I got a link(?) error when compiling on **master**. Not sure the exact cause.

Might want a **realclean** rule in Motate.mk?

[2018-05-19 01:51] BDFife opened #350 "Build Error with Xcode 9.3.1"
This issue looks like it might be similar to #70. I'm seeing the following error when I try to compile per the instructions on the Wiki (first, I ran into a build error that was fixed by deleting the ./Motate/Tools/osx folder.

Now I'm seeing:

 "../Motate/MotateProject/motate/../../Tools/osx/gcc-arm-none-eabi/bin"/arm-none-eabi-g++  -Wall -Wchar-subscripts -Wcomment -Wformat=2 -Wmain -Wparenthese

[2018-05-19 01:53] BDFife commented on #335
Thanks for filing this, Justin!

[2018-05-19 01:59] BDFife opened #351 "G28 Command in Marlin Compatibility Mode"
Cura uses the command G28 X Y to home the XY axes from the interactive UI (when the Printrbot G2 board is connected via USB to a PC running Cura).

When this command is sent to a printer in a 'clean' state (recently power cycled), sending the command "G28 X Y"  returns an error - "Error: Bad number format".

(It looks like the G28.2 command would get the desired response from the board.)

That's a

[2018-05-19 02:05] BDFife opened #352 "M109 possibly non-blocking in Marlin Compatibility Mode"
This is not an issue that affects board performance in any way at all. However, I've noticed that when I use the following start GCODE

// LED is red
M190 S100
M109 S200
M100.1 {_leds:1}

Based on the language on the G2core wiki, I expected M100.1 {_leds:1} to be processed only after the extruder has hit temperature. However, what I've seen instead is that once the bed hits temperature and the hot

[2018-05-19 02:32] giseburt commented on #351
It should be explained here:
https://github.com/synthetos/g2/wiki/Marlin-Compatibility

In short: “G28 X Y” is not valid parsable gcode (along with a slew of other
cases outlined in that link), and normally an error is thrown accordingly.

g2core has the concept of gcode “flavors” - of which it knows of two at the
moment: g2core (default) and Marlin.

When in Marlin gcode flavor special handling i

[2018-05-19 11:37] justinclift commented on #335
You're welcome @BDFife. :smile:

[2018-05-19 11:45] justinclift commented on #350
Interesting.  I'll have a go on an OSX desktop later on today, and see if I hit the same problem.

In the meantime, which branch are you using - `edge` (the default) - or something else?

Also, what's the full path on your box to your checked out clone of the git repo?  Just in case there are spaces or something in the path name that are mucking things up. :smile:

[2018-05-19 12:15] justinclift commented on #292
Make a PR? (it'd against edge branch) :smile:

As a data point, I generally run `git clean -dffx; git reset --hard HEAD`.  That restores the tree to pristine "just cloned" condition, keeping in whichever branch your in at the time.

To make it faster, I added an alias for it in my bash shell config (.bash_profile):

[code]

Of course, there are other ways to do the same thing. :smile:

[2018-05-19 13:06] BDFife commented on #350
Thanks!

Path is /Users/bdfife/Projects/g2
I did a ‘standard’ git checkout a few months ago, and pulled latest as part
of my debugging process when the build didn’t work for me. The main repo
thinks it is up to date.

On Sat, May 19, 2018 at 7:45 AM, Justin Clift <notifications@github.com>
wrote:

[2018-05-19 16:57] justinclift commented on #350
No worries.  What's your output of `git branch -a`, when run in that repo?

[2018-05-19 16:57] justinclift commented on #350
Oh, also what are the parameters you're using with the `make` command?

[2018-05-19 17:30] BDFife commented on #350
Git:

Athens:g2 bdfife$ git branch -a

* master

  remotes/origin/HEAD -> origin/master

  remotes/origin/dev-168-gquintic

  remotes/origin/dev-169-motor-enable-polarity

  remotes/origin/dev-212-common-enable

  remotes/origin/dev-298-nested-json-read-fail

  remotes/origin/dev-304-uvw-9axis

  remotes/origin/dev-307-spring-comp

  remotes/origin/dev-omco-issue-2

  remotes/origin/digital-dro

[2018-05-19 19:27] justinclift commented on #350
Thanks @BDFife, that helps. :smile:

[2018-05-19 23:25] justinclift commented on #350
This is going to have to be a tomorrow thing instead.  It's getting late here now and I'm just too sleepy atm. :frowning:

[2018-05-20 09:03] justinclift commented on #350
Trying out the build on Xcode here now... also fails:

![g2core-xcode-fail1](https://user-images.githubusercontent.com/406299/40277294-6a9651a8-5c14-11e8-9776-724a49c0b166.png)

It's not immediately clear to me why there are references to "gQuintic PrintrBot" and "gQuadratic" in the error messages.  I'm definitely in the master branch, and from what I can tell at the moment (I'm not familiar with

[2018-05-20 09:22] justinclift commented on #350
Hmmm, what seems to be happening is that clicking the play button builds for **every** target, not the single one that's clearly selected.  So our Xcode docs look like they need updating. 😦

For reference I'm using OSX 10.11.6 (El Capitan), Xcode 8.2.1.  Yeah, it's a bit older than yours.

As a workaround for now, the command line instructions (for OSX and Linux) seem ok:

* https://github.com/syn

[2018-05-20 09:41] BDFife commented on #350
Yes, no problem with the command line. The only reason why I tried Xcode in
the first place was that I assumed from the flow of the document it was the
preferred approach :)

I’ll give this a go now.

On Sun, May 20, 2018 at 5:22 AM, Justin Clift <notifications@github.com>
wrote:

[2018-05-20 09:47] BDFife commented on #350
Still fails trying to build for V9Test from command line. I'll try a clean checkout.

What OS/Branch has the best chance of success? I'm happy to set up a linux VM and build via that, also, if that's the most well-trodden path.

[2018-05-20 09:54] BDFife commented on #350
Command line OSX build **from a clean checkout** worked perfectly for me on the first run. Thanks!

[2018-05-20 09:54] #350 closed, assigned to nobody

[2018-05-20 10:00] BDFife opened #353 "Xcode Wiki Instructions out of Date"
See PR #350

Xcode build instructions didn't work for me when I followed the instructions on the wiki. https://github.com/synthetos/g2/wiki/Compiling-g2core-on-OS-X-(with-Xcode)

Per @justinclift, the Xcode project may be set up incorrectly. The way the docs are set up right now a naive user (that's me) might assume that Xcode is the preferred build method for OSX.

The command line build process

[2018-05-20 10:06] justinclift commented on #350
You're welcome. :smile:

I've just adjusted the wiki page to de-emphasise the Xcode instructions, so most people on OSX will use the CLI ones instead. :smile:

With the branches, `master` is generally considered pretty stable.  I'm not personally sure if it's suitable for 3D printing with though (I'm more into CNC stuff).  One way to find out. :wink:

The `edge` branch is where development stuff g

[2018-05-20 10:07] justinclift commented on #353
Heh Heh Heh

Already done.  Well, I think it is.  Would you be ok to [look over my changes](https://github.com/synthetos/g2/wiki/Getting-Started-with-g2core-Development#compiling-the-code) and confirm they're good from your point of view? :smile:

[2018-05-20 10:59] BDFife commented on #353
Perfect, thank you.

[2018-05-20 10:59] #353 closed, assigned to nobody

[2018-05-21 13:58] amx1 opened #354 "changing of status report not working"
I have some problems with the actual edge version. I was not able to enable posx, posy, ... print out by {"sr":{"posx":true, "posy":true,...}}. it does not change the pre compiled default values. The edge version is not working properly with CNCJS, because of the missing coordinates. CNCJS sends all the config stuff during the initialization phase, but this fails with the actual edge version.

The

[2018-05-21 14:03] justinclift commented on #354
Thanks @amx1.  If no-one gets to it sooner, I'll probably have time to investigate this either today or tomorrow.

Just for reference:

* Which CNCjs version are you using, and how did you install it?
  * eg npm? git clone? download of desktop app?
* Which OS is this on?
  * Guessing Linux (from quick searching and finding [this](https://github.com/cncjs/cncjs/issues/210))?  If so, which distro.

[2018-05-21 22:04] amx1 commented on #354
@justinclift, it is not an issue of CNCjs. I am using the latest master by git clone and npm install on a pi3 with 64bit linux (https://github.com/bamarni/pi64) for production and development on a standard 64bit ubuntu 16.04.

 It is definitely a problem of g2. I checked this by communicating to the g2 controller directly with a terminal program. (minicom) You will not see the problem normally wit

[2018-05-21 22:16] justinclift commented on #354
No worries.  Wasn't thinking it was a CNCjs problem, I just (personally) like to grab the version number/details of things in case I need to run the same stuff up in a VM to test with.  I've just found that it helps to ask up front first is all. :wink:

[2018-05-21 23:04] BDFife commented on #351
Thanks Rob, for the detailed response. I think I follow.

I was thrown off by MARLIN_COMPAT_ENABLED; what you're talking about is making Marlin the default flavor, not making sure Marlin is available. That sounds like adding a new compile-time option might be a good idea for some of these boards while we're still in a 'transitional' state.

I like that (the second option) much better than your fir

[2018-05-25 19:24] msepulve commented on #342
@rkoe said:
“gofabmo looks interesting, but seems to be tailored to their hardware. I got it running, but then it told me to "press the green button for some seconds"...

As a Handibot/FabMo user I can attest that FabMo is indeed a great GUI. Although it was developed for Shopbot Tools hardware, it’s highly customizable. The main development has been on Edison, but it can run on other hardware/OS.

[2018-05-25 20:48] msepulve commented on #342
@rkoe said:
“gofabmo looks interesting, but seems to be tailored to their hardware. I got it running, but then it told me to "press the green button for some seconds"...
As a Handibot/FabMo user I can attest that FabMo is indeed a great GUI. Although it was developed for Shopbot Tools hardware, it’s highly customizable  and as the main development has been on Edison, it can run in other hardware/O

[2018-05-25 20:57] msepulve commented on #342
No authorization and you are all set.
I have been testing the FabMo GUI with sbp-300 firmware running on my Raspberry Pi and connected with a DUE/gShield. It works but only with the very few pins on the Due that are coincident with the ones on the sbv-300 hardware, which is mapped in a very different way. I will be thankful if someone can guide me to modify the appropiate sbv-300 files to map them

[2018-05-25 22:37] justinclift commented on #342
Ahhh.  Is there something I can look at to see what the connections for the FabMo needs to be?

With that info, I can probably help you out with this.

For example, looking at the [Ardunio Due pinout](https://github.com/synthetos/g2/wiki/Arduino-DUE-Pinout-for-g2core) (when compiled with the gShield settings), there are some initial basic bits:

Motor | Step or Direction | Due pin
--|--|--
1 | Ste

[2018-05-25 22:43] justinclift commented on #342
Thinking about it more... the above might only be useful if you're wanting to wire things into the Due pin headers yourself.  If you're wanting to adjust the g2core pin configuration to match the hardware you have, that's do-able too.  It just means you'll need to change the pinout mapping before compiling.

Probably the simplest way (from memory) is to change them directly in your copy of the fil

[2018-05-26 13:42] msepulve commented on #342
@justinclift thank you very much for your comments and recommendations.
When starting FabMo, it automatically uploads to the Due the firmware (g2.bin which is a g2core bin compiled with the sbv-300 definitions) and doesn’t work with gShield bins. Conversly, the g2.bin for FabMo (sbv300) don’t work in Chilipeppr. I also think that the different  FabMo GUI versions are somehow “aligned” with the ver

[2018-05-26 13:52] msepulve commented on #342
Sorry for the miss alignment on the table. I wasn’t able to correct them.

[2018-05-26 22:03] justinclift commented on #342
No worries.  GitHub's version of markdown is useful for simple tables, but can't really do much more than that.  Not your fault.

With the pin assignment bits, I'll try to grok this tomorrow.  I'm brain fried atm after getting some other things taken care of, so not capable of absorbing new info atm. :roll_eyes:

[2018-05-27 01:30] giseburt commented on #335
This one is confusing to me. I’m not sure what M400 is expected to do. It
looks like a workaround for a badly thought out planner.

http://marlinfw.org/docs/gcode/M400.html

Their example doesn’t make sense. M5 would always happen after the moves
described before it.

What are we expected to do? We could ignore it I guess.

[2018-05-27 09:41] justinclift commented on #335
Yeah.  Reading the description page, it sounds like a workaround command for M5 perhaps operating asyncronously or similar.

In the example, I think after the M400 there's an implied wait **by Marlin** for the planner to finish executing all commands.  When this wait start it somehow blocks - not accepting new G-Code.  After all the moves in the planner have been executed, Marlin unblocks the inpu

[2018-05-27 20:18] justinclift commented on #354
(Finally got time to test this)

Yep, this does look like a bug in the `edge` branch.

* When changing the status report settings in `master` through manually setting `sr` values, they take effect and are used.
* Not so in the `edge` branch, where manually giving `sr` values does nothing. :frowning_face:

Tested just now through Minicom on CentOS 7 x64,  with fresh compiles of both master and edge

[2018-05-27 23:51] justinclift commented on #342
Looking at the [wiki page which covers motate pins](https://github.com/synthetos/g2/wiki/Adding-and-Revising-Motate-Pinouts#making-a-new-pin-assignment) and how they map to a physical board, it **sounds** like you'd just need to update the pin definitions in sbv300-pinout.h, and don't need to touch the motate_pin_assignments.h file.  The wording in that wiki page could be clearer though.

Looking

[2018-05-27 23:55] justinclift commented on #342
Hmmm, the mention of FabMo engine being tied to specific g2core revisions could make things tricky.  That might need some investigation to find out what the expected version is, and wind the repo source back to that specific one.  Shouldn't be too hard to find out... maybe just ask @ryansturmer or create an issue on the FabMo Engine page to ask there? :smile:

[2018-05-28 00:00] justinclift commented on #342
@yck011522 If you're still looking for a solution, I've been using the [downloadable windows app version](https://github.com/cncjs/cncjs/releases/download/v1.9.15/cncjs-app-1.9.15-win-x64.exe) of CNCjs recently, with the `master` branch of g2core, and it seems to work ok so far.

That was on a Windows 7 64-bit computer though.  Not sure which version of Windows you're using. :wink:

[2018-05-28 02:11] yck011522 commented on #342
Thank you very much Justin. I'll give it a try in my next project. -V

[2018-05-28 02:34] justinclift commented on #342
You're welcome. :smile:

[2018-05-28 02:59] msepulve commented on #342
@justinclift
Thanks a lot Justin. I will try it tonight and let you know the result tomorrow around 15:00 GMT

[2018-05-28 11:51] justinclift commented on #342
Awesome.  Hopefully we're on the right track. :smile:

[2018-05-28 14:45] msepulve commented on #342
@justinclift
Good news!
I compiled a first version changing only the configuration for the dir and step in the sbv300_pinout.h and I got output (connecting a Led) in the three stepper dir pins and also (weak) signals in the step output for the three motors.
I compiled using the Master version available here in this site, with CONFIG=sbv300 SETTINGS_FILE="settings_shopbot_sbv300.h". Then renamed th

[2018-05-28 17:10] giseburt commented on #335
So after some digging I found that M400 is acting in place of watching
state in the status reports - IOW when in Marlin protocol the OK for the
M400 won’t come back until motion has stopped.

[2018-05-28 17:24] justinclift commented on #342
Muaaa Haaaa Haaaa!  That's really excellent. Cool! :smile:

[2018-05-28 17:39] justinclift commented on #342
@rkoe As data point stuff, with CNCjs I've not seen the slowness in operation so far personally.  Only been using it for a few weeks on and off though, so I'm not yet an in-depth user.

My usage of it has been on two systems so far:

* A CentOS 7 x64 desktop.  It has an older cpu (Core i5 750), 8GB ram, and a GTX 970 graphics card.
* A Win 7 x64 desktop.  It has a pretty ancient cpu (Intel QX9650)

[2018-05-28 19:03] amx1 commented on #346
@aldenhart , @justinclift

I checked this on 101.02-17-g51f9-dirty too.  There was no error.

[code]

[2018-05-28 19:58] justinclift commented on #346
Thanks @amx1. :smile:

It sounds like whatever this bug is, it's fixed (or now hidden) by changes in the edge branch.

[2018-05-28 20:00] justinclift commented on #346
Not sure... since it seems like it's not present in `edge` (where our development/fix code goes anyway), should we consider this issue as "fixed" and close this?

[2018-05-28 20:29] amx1 commented on #346
I don't know if this needs more testing

[2018-05-28 20:38] justinclift commented on #346
k.  We should probably leave it open for now then. :smile:

[2018-05-28 20:40] amx1 commented on #349
@justinclift

I am just checking the test cases. This one runs also without errors with my config and my custom shield.

Firmware: 101.02-17-g51f9-dirty, CNCJS 1.9.15 latest master, Soft and Hard limits enabled! Only needed digital inputs enabled to avoid random interrupts

[2018-05-28 20:45] justinclift commented on #349
That sounds interesting. :smile:

When you say "Only needed digital inputs enabled to avoid random interrupts", does that mean I should change something in [my config](https://github.com/justinclift/g2/blob/b9158edc2fd9f918f83a1f67a7d42f0d88763ba8/g2core/settings/settings_shapeoko3.h)?

[2018-05-28 21:06] amx1 commented on #349
check what happens if you set all not used inputs to disabled
like #define DI1_MODE  IO_MODE_DISABLED

if your custom shield does not set the inputs to a defined value by pull-up resistors this might fire random interrupts

[2018-05-28 21:26] msepulve commented on #342
@justinclift
I apologize for the early claim to sucess, with the compiled versions of g2core for the sbv300 and use with FabMo. I later realized that those firmwares were never loaded to the Due by FabMo. What I had loaded instead was TinyG2-gShield-087edge.bin that I had loaded with Chilipeppr connected to the native port of the Due. The good news is that version works with FabMo and has output f

[2018-05-28 21:27] amx1 commented on #331
I don't have these issues with 101.02-17-g51f9-dirty, even G2/G3 pause / resume is working with CNCJS 1.9.15 latest master

[2018-05-28 21:39] amx1 commented on #310
@giseburt

I am using the built in TinyG post proc of Fusion with arcs enabled. It runs really fine!

[2018-05-28 21:58] amx1 commented on #354
@giseburt , @aldenhart

I think I found the issue. It seems to be a problem of the json parser in "_json_parser_execute"

static stat_t _json_parser_execute(nvObj_t *nv) {
    do {
        if (nv->valuetype == TYPE_PARENT) {
            // anything?
        } else if (nv->valuetype == TYPE_NULL) {           // means GET the value

if you roll it back this part to 100.26 it is working again, but I

[2018-05-28 22:10] msepulve commented on #342
I forgot another importan issue. If I erase all the content of the DUE, to start from a “clean” state, I don’t get the required /dev/ttyACM1; only ACM0 and AMA0 are available.
Then when starting FabMo I get:
error: ERROR OPENING GCODE PORT Error: Cannot open /dev/ttyACM1 [g2]
warn: Setting the disconnected state [machine]
info: Got a machine state change: dead [machine]
error: G2 is dead! [machine

[2018-05-28 22:54] giseburt commented on #342
When you erase the Due it starts booting from the loader in ROM, which will
not respond with anything resembling g2core protocol, and will always only
expose a single port.

[2018-05-28 23:28] justinclift commented on #349
Oh interesting thought.  Thanks @amx1 I'll give that a shot. :smile:

[2018-05-29 00:01] aldenhart commented on #354
Thanks for the detailed diagnosis. I'll see if I can reproduce this, and add these cases to the regression tests.

[2018-05-29 00:04] aldenhart commented on #346
I had tested it as well and found that it was not a problem. I think we should close this once we confirm that it's not an issue on master, either.

[2018-05-29 00:08] msepulve commented on #342
Ok thanks! So how can I get two ports exposed?
Without two ports available in the native USB, FabMo can’t load it’s own firmware and also what I experienced is that loading TinyG2, allows working with FabMo but replacing the firmware is not allowed. So I’m blocked.
I assert that I was able to load the FabMo firmware at least once (when I discovered that I had signal in only one step pin and one ad

[2018-05-29 17:48] aldenhart commented on #354
Update: I'm testing a fix for this.

[2018-05-29 18:21] amx1 commented on #354
@aldenhart

I think that it is related to this one: Attempted fix for #298 (reading nested JSON fail)

[2018-05-29 20:05] aldenhart commented on #354
I believe you are correct. I have an issue branch that appears to fix it but I want to test more fully before pulling it. Your diagnosis led me right to the problem.

[2018-05-30 12:33] aldenhart commented on #354
Closing this issue. See PR #356 and release 101.03

[2018-05-30 12:33] #354 closed, assigned to aldenhart

[2018-05-30 12:45] justinclift commented on #342
The "two ports exposed" thing sounds familar:

* https://github.com/synthetos/g2/blob/d03a10e8b8ed6698aa2ff4baae45a4cc96b6f215/g2core/settings/settings_shopbot_sbv300.h#L64

Note that I haven't yet read back this thread, and probably won't have time to for a few days as I'm urgently focused on solving a problem for a different project (different headspace completely).

[2018-05-30 12:48] justinclift commented on #342
Ahhh, found what I think is the [matching info text](https://github.com/synthetos/g2/wiki/Connecting-to-g2core#option-2-coolterm-143) for that in the wiki too (last two paragraphs):

[2018-05-30 13:35] ril3y commented on #342
FYI that is a compile time option so you would need to build 2 port support
vs being a real time configurable option.

[2018-05-30 13:39] justinclift commented on #310
Tried out the example G-Code ([breaksTinyGG2.nc](https://pastebin.com/JrcRhv2Z)) in the OP with `master` branch (that's the stable code)... and yep that errors out immediately:

[code]

Then tried using the `edge` branch (our leading edge code), compiled just now.  Same problem:

[code]

As a data point, the visual display of the G-Code in CNCjs "looks ok" though:
![g2core-issue310_v1](https://use

[2018-05-30 13:42] justinclift commented on #310
@martin2250 And yeah, you've mentioned not having the part any more.  This is more to get you using what **should** be a 100% working post, and see if the issue crops up again.  In theory (!), it shouldn't.

[2018-05-30 21:55] msepulve commented on #342
thanks @justinclift and @ril3y .
I followed your lead and found what you mention is in the file:
g2/g2core/settings/settings_shopbot_sbv300.h and the actual instruction in the Master Version is:
#define USB_SERIAL_PORTS_EXPOSED    1                   // Valid options are 1 or 2, only!

for gShield I would guess the file used is settings_default.h and has the same instruction:
#define USB_SERIAL_PO

[2018-05-30 22:00] justinclift commented on #342
Yep that 101.02 version of g2core-gShield was definitely compiled with the setting of 1.  Literally from this line:

https://github.com/synthetos/g2/blob/51f93aaa41e03b39d204067e4de1ed59c4529020/g2core/settings/settings_default.h#L147

Saying that because - for now - we don't have a specific settings file for the gShield, instead leaving it to use the defaults (in settings_default.h) as you guesse

[2018-05-30 22:05] justinclift commented on #342
Thinking about it more... there's a decent chance the settings used for the ShopBot builds will be in a GitHub repo forked from this one.  So, scanning quickly through the fork list here might be useful:

https://github.com/synthetos/g2/network/members

There are 3 forks for FabMo bits there, so I'd probably poke around in those and see if anything in there looks useful. :smile:

* https://github.

[2018-05-30 22:10] justinclift commented on #342
@msepulve How feasible would it be to ask the ShotBot people if they have their config handy?  Just thinking this might all be solvable with a simple email. :smile:

[2018-05-30 22:27] msepulve commented on #342
@justinclift
Indeed that's a good advise and I will certainly do that when I'm able to trace the problem to FabMo and not blocked by an issue that I'm not able to understand and solve in the compliation of G2. I think that if I'm able to compile a working gShield g2core.bin that works with the FabMoGui I will be able to address the right questions to them. Thanks!
Can @giseburt comment how the Tin

[2018-05-30 22:34] giseburt commented on #342
Version 0.87? I’m not sure what that would be. Do you perhaps mean 87.x?

FabMo current will work with edge, and AFAIK is tested against it.

FabMo stores it’s setting in a file. For example:
https://github.com/FabMo/FabMo-Engine/blob/master/profiles/default/config/g2.json
That is sent upon connection. You would need to switch profiles for your
machine. Most likely your compiling in your settings

[2018-05-30 22:48] giseburt commented on #342
I can’t find the docs for FabMo profiles (such as how to install them) but
each machine has a different one. Here’s a handibot one:
https://github.com/FabMo/fabmo-profile-handibot-2

[2018-05-31 01:58] msepulve commented on #342
@giseburt
Thanks for you comments. Here the results of querying the Due loaded with the gShield Tiny G2 version:
$$
[fb]  firmware build             87.01
[fv]  firmware version            0.98
This version presents two serial ports ACM0 and ACM1 and work with my FabMo GUI installed in a Raspberry Pi. The more recent version g2core-gShield-101.02.bin only presents one port, ACM0 and has not worked

[2018-05-31 09:00] justinclift commented on #342
Hmmm, is it feasible to try editing the engine.json file it's using?

If so, I'd (after making a backup) point both `control_port_linux` and `data_port_linux` to the same single port (eg `/dev/ttyACM0`) and try it out with the newer g2core build.  Mainly to experiment and see if it works.  It shouldn't hurt to try after all. :smile:

[2018-05-31 12:21] aldenhart commented on #310
I have run [this file](https://pastebin.com/JrcRhv2Z) successfully using the latest edge release, fb 101.03. The offending arc `G2 X28.49 Y0.002 I-1.436 J1.159` was in line 9, which ran almost immediately.

I'm still waiting for the full file to complete - if there's a failure I'll edit this comment, but I don't expect there will be.

[2018-05-31 13:13] justinclift commented on #310
That's weird.  My follow up comment yesterday has disappeared.

It wasn't super important - just some further info and a screenshot - but that's kind of unsettling.  I know GitHub have been updating their comment handling code on the backend over the last few days, but ugh.  Hopefully it doesn't keep happening.

[2018-05-31 15:13] amx1 opened #357 "compiling - some parameters of settings_xxx.h file not taken into account"
@aldenhart

there is still a problem with the configuration. The following parameters of the settings_xxx.h file are not taken into account properly. I tried a lot of different combinations. Setting the coolant polarity parameters to 1 also forced the LIMIT variables to change the value. COOLANT_PAUSE_ON_HOLD is ignored at all.

#define SOFT_LIMIT_ENABLE			0				// 0=off, 1=on
#define HARD_LIMIT_EN

[2018-05-31 15:15] amx1 commented on #357
sorry missed to say - clean checkout of today / the problem with status report is fixed
Build 101.02-20-gf038a-dirty

[2018-05-31 15:30] justinclift commented on #357
Ahhh.  I wonder if that means the commits to edge yesterday will change things for the weird limit switch trip I reported.  I'll try to get time to test it again in the next few days.

[2018-05-31 15:34] msepulve commented on #342
@justinclift thanks for your recommendation, but at this point I think the problem is more related to the ideosincrtic behavior of the Due than anything else, as more often than not, the serial ports appear closed or non-existent for FabMo.
What I have experienced is that when this firmware (http://storage.googleapis.com/chilipeppr-bucket/TinyG2-gShield-087edge.bin)is loaded to the Due, via Chilip

[2018-05-31 15:47] ril3y commented on #342
I just emailed @ryansturmer to see if he could chime in here.  He has developed much of fabmo.  However he does not work for us :) So any help he can provide would be greatly appreciated.

[2018-05-31 15:47] justinclift commented on #342
Good thinking @ril3y. :smile:

[2018-05-31 15:53] msepulve commented on #342
Thanks @ril3y

[2018-05-31 16:43] amx1 commented on #357
I checked also the old version g2-edge 100.02 80f3fcc. The problem can be reproduced by setting COOLANT_FLOOD_POLARITY.

Examples

#define SOFT_LIMIT_ENABLE					0	// 0=off, 1=on
#define HARD_LIMIT_ENABLE					0	// 0=off, 1=on
#define SAFETY_INTERLOCK_ENABLE			0	// 0=off, 1=on

#define COOLANT_MIST_POLARITY 				0     	// 0=active low, 1=active high
#define COOLANT_FLOOD_POLARITY			1	// 0=active low,

[2018-06-01 11:35] aldenhart commented on #310
I'm going to close this issue. I've run this thing multipel times with the latest edge (101.03) and it's fine. If any errors with arcs pop up we'll open another issue.

[2018-06-01 11:35] #310 closed

[2018-06-01 11:36] aldenhart commented on #349
Justin, did that solve the issue?

[2018-06-01 12:27] justinclift commented on #349
Haven't checked yet.  Been head down migrating servers for a different project + in-depth reviewing some of the PR's there too.

Likely be finished with those bits over the weekend, which should free up some schedule. :smile:

[2018-06-01 13:53] aldenhart commented on #357
Created a PR for the fix. It's in edge now.

[2018-06-01 13:53] #357 closed, assigned to aldenhart

[2018-06-01 14:13] shczm commented on #342
@rkoe
When will you put your Gcode sender on GitHub?
I can not wait for trying it! :)

[2018-06-02 00:07] msepulve commented on #342
Thanks  @justinclift! I followed your recommendation above (about modifying the engine.json file of FabMo) and I now have a working GUI to control a CNC with G2.
The environment I have is:
HW: Raspberry Pi connected via USB to the Due/gShield.
SW: -FabMo Master version as of June 1, 2018
       -G2 Edge versión as of June 1,2018 -> g2core.bin compiled by me in Ubuntu 14.04
So far I have tested onl

[2018-06-02 00:17] justinclift commented on #342
Oooohhhh Ahhhhhhhh.  That sounds pretty positive. :smile:

[2018-06-02 09:53] aldenhart commented on #349
Cool. I'm interested in your experience.

[2018-06-02 21:32] aldenhart commented on #50
Closing this issue. The current state of the spindle speed is that the spindle control is PWM-able, and the gQuintic board uses this to drive a 0-10v DAC output (in addition to offering raw PWM)

[2018-06-02 21:32] #50 closed

[2018-06-03 16:44] grantnlee opened #359 "G2core - how to home BOTH motors on my Y-Axis?"
I am upgrading my GRBL based DIY CNC to leverage G2Core.  One of the goals in the upgrade is to be able to have home switches on both of the motors/ballscrews that drive the Y-axis in order to help fine tune the calibration of the X-Y squareness.

I can't seem to figure out whether g2core will do this, when two motors operate the same axis.

When I setup the two Y-axis motors, I mapped them both t

[2018-06-03 17:02] justinclift commented on #359
Oh, that's an interesting question.

There's definitely capability for having multiple limit switches in a fairly user defined way.

But yeah.  Any axis seems like it can only be tied to a single one (eg Y axis for a [Shapeoko 2](https://github.com/synthetos/g2/blob/f5a6753f8e9bd863460badcecef8cca51406f4da/g2core/settings/settings_shapeoko2dualY.h#L146)), rather than passing it multiple values.

T

[2018-06-03 17:07] justinclift commented on #359
Yeah, just tried passing a comma separated list of digital input # values (`$xhi=1,2`) to my X axis homing config here.  Didn't work. Oh well. :frowning:

[2018-06-03 18:12] giseburt commented on #359
So we are looking at such interesting homing situations in an upcoming
kinematics update.

For now our solution is a two-part solution:

1) home the axis normally, where both motors are enabled and one of the
inputs is set as the homing input.
2) disable one motor, and switch the homing input to the one on the motor
that’s still enabled.

So this is a case for M100, so you can script this. As an e

[2018-06-03 20:05] grantnlee commented on #359
Thanks, makes sense.  I'll cut over to g2core with the standard homing and then experiment with that approach once I am steady state.

Given it's not in the code base yet, it does make me think there might be a different approach to implementing the feature.  Maybe a "X-Y squaring" or "two motor alignment" routine operates separately from the homing routine.  (Let home continue to function like it

[2018-06-03 20:45] giseburt commented on #359
Thank you Jay. Please do share you’re results and we’ll use it to inform
how we officially support that.

An alternative to disabling the motor is to switch it to an axis you’re not
using, that way it holds position. It would be done at the same times using
M100.

[2018-06-04 05:38] martin2250 commented on #310
Hi Justin and Alden,

it didn't generate an error message for me then and I can't see why it would complain about end- and startpoints being the same. The line you posted occurs twice (L9 and L793) and both times the X and Y coordinates are different from the previous lines.
Also I know the preview looks fine in most programs (see op), it's just Chilipeppr that behaves similarly to  the version of

[2018-06-04 11:24] justinclift commented on #310
No worries at all @martin2250.  Thanks for taking the time to create the issue and try things out. :smile:

[2018-06-04 22:10] justinclift commented on #349
@aldenhart Just tried a run of this with latest edge (101.03) with the motors disabled, with the [same settings](https://github.com/justinclift/g2/commit/ca4e95de8d589dfd22ca7b376d2d5685df73559e) applied.

It ran through to completion without error, so I'm kind of hopeful your fix the other day (5c4ba36db4a2746a27f5c0b03cb5220497a1a9a5) solved the problem I was hitting.

I'll try it again tommorro

[2018-06-05 13:10] justinclift commented on #349
Yep, this issue seems to be fixed in 101.03. :smile:

With 101.02, this particular gcode file had a 100% failure rate.  Now, after a few soft runs (eg motors off) and one hard run (cutting stuff) it's not yet failed.

![edge-101 03-circle_diamond_square - 1](https://user-images.githubusercontent.com/406299/40977774-e1a5352c-68c9-11e8-8a57-3d8ac877a4e7.jpg)

Thanks @aldenhart and @amx1. :smile:

[2018-06-05 13:10] #349 closed, assigned to nobody

[2018-06-06 21:01] aldenhart opened #360 "Step diagnostics not reporting correctly"
If step diagnostics are enabled they report nonsense values

[2018-06-09 06:47] mjtooba opened #361 "Trajectory planning compatible with close loop SERVO"
Hi
i like to use this project with close loop DC motor with encoder feedback , i looked at source & found pulse generation codes is embedded with trajectory generation codes and not found any place that provide desired position in fixed interval.
to support servo motors we need desired position in fixed interval (1ms typically).
so if this feature is not available in code , i ask it as future deve

[2018-06-09 08:44] justinclift commented on #361
This sounds like it would be useful. :smile:

[2018-06-09 13:03] giseburt commented on #361
In brief, g2core takes gcode and makes motion this way:

1. parse gcode into moves and commands, executing some commands and placing
the rest of the moves (“blocks”) and commands into the planner queue (some
values that don’t involve other blocks are computed here)

2. pre-plan backward from the last added queue item toward the first,
primarily determining the highest speeds that can be achieved w

[2018-06-11 14:54] brettbalder opened #362 "Adding IO pins"
I am using a Due and building my own shield to interface with my machine. I am capable of changing the number of input pins from 9 to 12, but cannot seem to add any more than that. I'd like 16 inputs in total: 2 for each axis limit (XYZABC), a probe, and three buttons to control resetting, feedhold, and cycle start.

So far I have:
1) changed the #define D_IN_CHANNELS from 9 to 16 in gpio.h
2) add

[2018-06-11 14:57] giseburt commented on #362
Yes, the big table in config_app.cpp and the totals after it need updated
to extend the JSON interface.

Btw, simplifying the setup of the config system is on our radar.

[2018-06-11 15:07] justinclift commented on #362
@brettbalder As a thought, with your rotational axes (ABC) do they definitely need 2 limit switches?

Just asking because for the A axis stuff I've been looking at recently, only one is needed.  The A axis (in my case) is able to rotate 360° continuously, so there aren't limits it's dangerous to hit.  eg I just need something that can provide a reliable home point (not hard).

:smile:

[2018-06-11 15:57] brettbalder commented on #362
Got it working, thank you gentleman.

@justinclift No, I'm not even sure if I'll need to add rotational axes in the future. I'm working on the early stages of a machine and want to allow for potential expansion for when other people continue my work when I leave. It is likely that the inputs will be used by something, though.

[2018-06-11 15:57] #362 closed, assigned to nobody

[2018-06-11 16:07] justinclift commented on #362
No worries at all. :smile:

[2018-06-11 16:16] justinclift commented on #362
@brettbalder Your Craniobot repo looks interesting:

&nbsp; &nbsp; https://github.com/brettbalder/CraniobotCourier

It sounds like it'll be able to probe a given area, generate a non-planar surface from the data, then transform desired operations to match the surface.  Is that a correct understanding of the README info?

Also, are we ok to add it to the "Who uses g2core?" page? :smile:

&nbsp; &nb

[2018-06-11 16:36] brettbalder commented on #362
Yup, I am actually updating that README as we speak. I'm not sure how much I can disclose, but the gist of it is that a CNC is being used to automate microsurgical procedures in research animals. The end game is providing neurological researchers with a much easier way of conducting their research. But yes, you can include it :)

[2018-06-11 16:58] justinclift commented on #362
Thanks.  Just added it. :smile:

[2018-06-17 14:29] amx1 opened #363 "typedef problem in config_app.cpp"
@aldenhart

I think that there is another typedef problem in config_app. The heater enable commands are not working properly.

he1e is defined as boolean, he2e and he3e are defined as int and the default_enable are defined as boolean.

--------
config_app.cpp  / line 565 ++

    { "he1","he1e", _bip, 0, tx_print_nul, cm_get_heater_enable,   cm_set_heater_enable,   nullptr, H1_DEFAULT_ENABLE },

[2018-06-17 15:35] aldenhart commented on #363
Thanks for the heads up. I'll take a look. I'll probably combine this with the step diagnostics Issue #360. If see any other problems please let me know.

[2018-06-17 21:14] justinclift commented on #363
@amx1 Out of curiosity, any interest in being added to the g2 team here on GitHub?

It gives write access to things (eg the issues section, git source), though for non-trivial source code changes it's still best to do stuff via PR for commenting/review. :smile:

[2018-06-18 15:44] giseburt commented on #352
`M100.1` will make it execute as soon as it reads the line. (Your example syntax is wrong, BTW, so it probably wouldn't work as shown. It would be `M100.1 ({_leds:1})` with the parens.)

You want `M100` which will wait until all actions of the lines queued before it are completed.

That `M100.1` waits at all is an interesting side-effect of how we process incoming commands.

[2018-06-18 15:54] giseburt commented on #347
Note that these changes have been merged into the `dev-168-gquintic` branch and will make it to edge along with pr #285 .

[2018-06-19 06:45] SchiMa2017 commented on #361
We are using G2core to control a 4-axis mill over CAN-Bus for more than one year now and it works so far, but has some limitations.
We added a 1ms interrupt to main.cpp. We are sending new CAN positions each ms and are using en.en[i].encoder_steps+en.en[i].steps_run as position information. It is working stable as long as your servos are able to follow the trajectory. We invoke a feedhold if we ar

[2018-06-19 12:50] justinclift commented on #361
@SchiMa2017 Cool!  Is the your version of the g2core code the same as that in #300 (eg you work with @mawildoer), or is it a different implementation? :smile:

[2018-06-19 13:07] giseburt commented on #361
@SchiMa2017 that is fascinating. Can you share more about the project (perhaps on the mailing list, since it’s somewhat off-topic here)?

There is another approach to handling the servos, which is what we did in [step_dir_hobbyservo.h](https://github.com/synthetos/g2/blob/edge/g2core/device/step_dir_hobbyservo/step_dir_hobbyservo.h): pretend to be a stepper motor, take the step and direction comma

[2018-06-19 13:08] SchiMa2017 commented on #361
It's a different implementation. We can make a new branch for it, but we should generalize some functions before we do that. There is a state machine that checks how many axis are connected, then makes sure, that the initial positions are the same for servos and g2core and so on... But that state maschine is rather specific for the communication with the code running on the servos. Would be a good

[2018-06-19 13:30] SchiMa2017 commented on #361
To get a very tight synchronization of the position data between g2core and the different servos is not easy. One the other hand the new positions for the servos are send each millisecond. The delay between servo A receiving the new position data and servo B receiving the new position data is low, compared to the overall machine precision. @giseburt I'm not so deep in the g2core code, but I will t

[2018-06-19 13:50] justinclift commented on #361
Sounds pretty awesome @SchiMa2017. :smile:

[2018-06-19 20:14] amx1 commented on #363
@justinclift

thank you for the offer, but I am quite busy at the moment and don't have the time to work on it continuously.

Best

amx1

[2018-06-19 20:48] justinclift commented on #363
No worries @amx1. :smile:

[2018-06-23 23:01] JasonTitcomb opened #364 "2 Due rx tx not working"
Hi all and thanks to all that have come before me.

I am trying to connect 2 Due boards via rx tx and I am stumped.
Inspired by [this ](https://github.com/tchepperz/ArdSketch/blob/master/serialGrblSkch/serialGrblSkch.ino)sketch I want to use one Due for HMI and one for G2core.

G2(100.26 bin) is installed and working on Due#2 and I have a small test sketch on Due#1
I get no response when G2 is fla

[2018-06-24 08:41] justinclift commented on #364
Ahhh, interesting idea. :smile:

Just to get a better idea of the bits you've already tested, with Due #2... have you been able to successfully talk to it over usb from a PC/Pi/etc?  eg send it command, and have it return info

It sounds like "yes", but I'm asking just to be sure first. :grin:

Next thought... which settings were used?  With g2core, the behaviour of things is changable via some of

[2018-06-24 19:58] JasonTitcomb commented on #364
Thanks for responding.
pre-built g2core .bin 100.26 just downloaded it.
No, I can't get them to talk. That's the problem.
I bet the usb 1 or 2 has something to do with it.

![dge0jhzw0aamn0i](https://user-images.githubusercontent.com/406299/41823193-e525aa72-77f3-11e8-92c8-03a2ac6ebc13.jpg)

[2018-06-24 20:28] justinclift commented on #364
Thanks, that's helpful stuff. :smile:

Btw, I just added your pic directly to the comment instead, to make things easier.

Ok, so the very first thing I'd (personally) do, is start out super simple and validate things from the most basic point (then work from there).

So, disconnect the boards from each other, and just leave the one with g2core 100.26 connected via usb.  The left side one in your

[2018-06-24 21:02] giseburt commented on #364
I can’t give a thorough response at the moment but the RTS and CTS lines
are vital.

[2018-06-24 21:37] justinclift commented on #364
Oh good point.

Yeah, once the "single Due running g2core" is known to work, then to experiment with the tx/rx lines the RTS and CTS will need to be included as well. :smile:

[2018-06-24 21:57] JasonTitcomb commented on #364
Okay, I will look into RTS CTS.

But as I said...
I have tested my sketch and wiring with a TinyG V8 hardware and **it works fine**.
I have tested my sketch with my sketch on a Mega with grbl on an Uno and **it works fine.**
The G2 Due responds fine through the native USB port.
Isn't the native USB port the same as rx0 and tx0?
I'm sure it will be something simple.

[2018-06-24 22:00] justinclift commented on #364
Ahhh ok.  Sounds like you're up to experimenting with the RTS CTS stuff then.

And yeah, hopefully it is something simple with that.

[2018-06-25 17:22] scotthz commented on #342
As another data point (sorry, came to this thread late), my setup has CNC.js running in a Docker container on a Raspberry Pi, connected to the Due Programming USB port (the fast one).

I don't run OpenGL on the Pi, so I don't get the 3d visualizer when I run the UI in Chromium on the Pi itself (i.e. http://localhost). In its place I get a list of the G-code steps which updates in realtime to show

[2018-06-25 18:10] justinclift commented on #342
Thanks @scotthz it looks like CNC.js is in use by several people, which should mean it's a decent initial "go to" solution after all. :smile:

As a curiosity thought, are you using your setup for something we could add to the "[Who uses g2core?](https://github.com/synthetos/g2/wiki/g2core-in-use)" page? :smile:

[2018-06-28 17:29] justinclift commented on #129
Here's an approach to modify 5V Arduino shields to 3.3V, using a fairly simple voltage divider:

&nbsp; &nbsp; https://www.udoo.org/tutorial/arduino-shields-with-udoo/

[2018-06-28 17:30] scotthz commented on #342
Hi @justinclift
There are things I'd change about CNC.js (and maybe I can, but don't yet know how) but it's been working fairly well for me in my current setup. I don't care much for the ChiliPeppr look-and-feel, though I have experimented some with it, with the serial port server running on the Raspberry Pi. Other solutions haven't fit as well. Haven't tried FabMo yet but thinking about it.

FWIW

[2018-06-28 17:34] justinclift commented on #342
Heh Heh Heh

Chair parts and joinery is pretty nifty.  I'm still on a standard size Shapeoko 3 (~35x30cm practical cut area), modified to use g2core instead of the default GRBL of course. :smile:

[2018-06-29 16:55] breiler opened #365 "Not updating positions in status report"
Sorry for this noob issue... But I've been experimenting for a couple of hours and I'm not getting anywhere.

I've tried loading my Due with the g2core-gShield-100.26.bin (I've also tried the latest build 101.03) and connected to it using MacOSX and CoolTerm. I can post commands and get nice responses from the hardware. I don't have any shields connected to it, just running it stand alone.

But if

[2018-06-29 17:12] justinclift commented on #365
Ahhh, this sounds similar to when I was first experimenting with g2core, and hadn't enabled the motors (virtually) in the settings.

Gimme a few minutes and I'll jump on a box with a g2 controller connected.  I can't remember the JSON bits off hand, as I use text mode personally when doing stuff in a terminal. :wink:

[2018-06-29 17:22] justinclift commented on #365
Ahhh, yep.  I think that's the problem you're hitting as well.  In your x/y/z lines, it's showing those axes as disabled:

[code]

That doesn't mean there's anything wrong.  Those are just the default settings for now, and there is ongoing discussion on how best to change that. :wink:

[2018-06-29 17:27] justinclift commented on #365
Since you're using serial input for the moment, you'll probably find it easier to switch into text mode instead of json.  To do that just type:

[code]

You can then look at the settings for the x, y, and z motors individually using `$x`, or `$y`, or `$z`.  For example, on a g2core Due here:

[code]

In my example above, take a look at the `xam`, `yam`, and `zam` settings.  On mine they're set to

[2018-06-29 17:33] breiler commented on #365
Awesome it works, thanks a bunch! :clap:

[2018-06-30 19:57] aldenhart commented on #365
I added a Troubleshooting page to the Getting Started section where we can collect these kinds of issues.
https://github.com/synthetos/g2/wiki/Troubleshooting

[2018-06-30 20:16] breiler commented on #365
@aldenhart I personally am fine with all the motors disabled from the start. For the end user I think this should be handled by the UI giving the user a proper feedback. And for UI-implementors this is just a documentation issue (which you have solved for now with the troubleshooting guide).

This may actually not be a bug/issue, but instead a feature. =)
By having them disabled from the beginning

[2018-06-30 20:27] justinclift commented on #365
As a data point, the (slowly ongoing :wink:) discussion about it is in #341.  You're welcome to jump in. :smile:

[2018-07-01 22:07] JasonTitcomb opened #366 "Compiling on Win10 fails"
Greetings.
I am attempting to compile g2core. I am running Win10 64 bit home 1803.
Running Atmel Studio 7 and have forked the code.
I am not strong with git but I cloned the repo to my machine and It looks like I got everything including the Motate folder contents.

The first compile error was related to Motate and downloading arm-none-eabi.
Don't even know what that is but it was failing so I man

[2018-07-02 01:32] giseburt commented on #366
I’m not sure what you mean by “arm-none-eabi” ...”it was failing so I
manually installed it.” Can you possibly expand on (log file lines, etc) on
what it was complaining of when failing?

It downloads and installs (in a way that won’t collide with anything else
in your system) a very specific set of the ARM tool chain. If you chose a
newer one or older one than it was building then there may be is

[2018-07-02 11:52] JasonTitcomb commented on #366
User error as usual.
Went through it all again and I was missing the step in the instructions that said

I edited the the Makefile as it said to point to my git install and now it compiles.
Thank you.

[2018-07-02 11:52] #366 closed, assigned to nobody

[2018-07-02 13:40] breiler opened #367 "Status report with wrong stat"
I'm using `{sv:1}` and `{si:250}`to receive status reports during and after a command has been sent to the controller and in version **101.03** it sometimes ends up with the wrong `sr:stat`.

So for instance if I issue the following command I get a `sr:stat` saying that it's running. I would expect it to be 3 (program stop) or 4 (program end).
[code]

If I run a G0-command it works as expected:
[c

[2018-07-02 14:49] justinclift commented on #367
Interesting.  Could indeed be a bug.

As a general thought, I think it's recommended to send G-Code as plain text, instead of using the json format.  Changing variable settings and the various control things are recommended for json though. :smile:

[2018-07-02 14:54] justinclift commented on #367
Ahhh, here's the wiki page I was thinking of:

* https://github.com/synthetos/g2/wiki/g2core-Communications#line-mode-reference-implementation

Under the Notes section:

[2018-07-02 16:06] breiler commented on #367
Thanks for the quick reply @justinclift, I didn't bother looking into the existing code for sending GCode commands. It's now fixed so that GCode commands are sent without wrapping with {"gc":..}.
(this made no difference with the wrong stat in version 101.03)

[2018-07-02 16:08] justinclift commented on #367
Cool.  Good point, as that really does sound like a bug. :wink:

[2018-07-04 22:04] ghost commented on #359
Hi, If you can stand having one motor skip steps for a bit you could wire both homing switches in series. The homing sequence won't complete until both motors have made the switches.
A bit dirty but would work.

[2018-07-10 02:54] shczm opened #368 "Have to configure the Axis and Motors ?"
For a DUE, it seems that the axes and motors are deactivated in the default file, so there will be no movement. How to activate them?

Thanks!

[2018-07-10 04:14] breiler commented on #368
I had the same issue:
https://github.com/synthetos/g2/wiki/troubleshooting

[2018-07-10 06:49] shczm commented on #368
Thank you, Breiler!
I checked the configuration by typing $x,  am=1
When executing G0 X100, the pos updated,
However I could not see the waveform from pin 2 (m1step) by a oscilloscope.

[2018-07-10 07:19] shczm commented on #368
![setting](https://user-images.githubusercontent.com/25112766/42495050-87a953d6-8454-11e8-9131-70abb23104e5.JPG)

[2018-07-10 07:30] justinclift commented on #368
Cool.  That looks like the `x`, `y`, `z`, and `a` axes are enabled.  Would you be ok to grab a dump of all the settings (use the `$$` command) and paste them here as text?  The screenshot in your comment above is extremely hard to read (very small text size).

[2018-07-10 07:32] justinclift commented on #368
Btw for text, if you put it inside \`\`\` marks like this:

\`\`\`
foo
bar
baz
\`\`\`

It'll be displayed like this:

[code]

That's probably the right display approach for settings dumps. :smile:

[2018-07-10 07:43] justinclift commented on #368
@shczm Out of curiosity, did you compile g2core yourself or are you using one of the downloads from the Releases page?  If it's one of the downloads, do you remember which one exactly?  That'll help, just in case it's one of the one's that uses a different pin out setting. :smile:

[2018-07-10 07:45] shczm commented on #368
[unhandled message] {"r":{"sys":{"fb":101.03,"fv":0.99,"fbs":"101.02-17-g51f9-dirty","fbc":"settings_shopbot_test.h","hp":"g2v9","hv":"k","id":"0084-d639-18c6-18c","jt":0.8,"ct":0,"zl":0.5,"sl":1,"lim":1,"saf":1,"m48":1,"froe":0,"fro":1,"troe":0,"tro":1,"mt":2,"tv":1,"ej":1,"jv":4,"qv":0,"sv":1,"si":250,"gpl":0,"gun":0,"gco":2,"gpa":2,"gdi":0}},"f":[1,0,3]}
{"r":{"1":{"ma":0,"sa":1.8,"tr":0.5,"su"

[2018-07-10 07:51] justinclift commented on #368
Ahhh.  That's using a different settings file: `settings_shopbot_test.h`, which from memory uses different pin outs.

It sounds like you're using a plain Due board with no motors connected.  If that's the case, try flashing this .bin file, which will use the "standard" default pin outs:

* https://github.com/synthetos/g2/releases/download/101.03/g2core-gShield-101.03.bin

When that's flashed, you'

[2018-07-10 08:09] shczm commented on #368
It works!
Thank you very much,  Justinclift and Breiler!

[2018-07-10 08:23] #368 closed, assigned to nobody

[2018-07-10 08:25] justinclift commented on #368
Awesome @shczm.  You're very welcome. :smile:

[2018-07-11 08:43] MitchBradley commented on #344
I don't think that the message is returned at all.  There is a function cm_message() that adds a message to the response object, but that function is not called anywhere that I can find.

[2018-07-17 06:58] justinclift commented on #367
Testing here now... agreed.  This is happening for me now too.  Reverting my Due back to 100.26, and this bug isn't showing up.

[2018-07-25 14:46] justinclift opened #370 "Problem when interrupting the homing"
Received this via private email several weeks ago.  Putting it here for tracking purposes, so it doesn't get lost:

[2018-07-27 19:31] blwn23 opened #371 "Activating/configurig pwm output from heater groups on arduino due"
I am using g2core on an Arduino Due to control a small cnc router, which works very well. I've compiled the firmware from the latest edge branch with a custom pinout adapted from the gShield pinount.

Now i am trying to use G2core's heater groups, and i've hit a snag: i can't get the heater output pwm to work. It seems to me like a wrong pin mode configuration?

For testing purposes i have "stolen

[2018-07-27 22:16] justinclift commented on #371
Oops, sorry for the delay in answering @blwn23.  It looks like you've got the basics up and running (same as me), but I've personally not gotten around to looking at the heater stuff (yet - it's on my ToDo list).

Hopefully one of the main developers has some time over the weekend to look into this and assist.  :smile:

[2018-07-28 19:43] giseburt commented on #371
Hi @blwn23,

Since the temperature controls were added outside the normal GPIO section (this is being fixed in our next release), there are two oddities to be aware of.

The first is that in the pinout File you want to indicate (to the GPIO subsystem) that pwm is NOT available on those pins, so it doesn’t configure them. Instead they will be configured over in temperature.cpp, but only if...

See

[2018-07-28 20:45] blwn23 commented on #371
@justinclift no worries, i actually didn't expect such a fast reply!

@giseburt thanks! that explanation helps. `TEMPERATURE_OUTPUT_ON == 1` is actually already activated in my pinout file. That means `#define OUTPUT1_PWM 0` gets overwritten and should be `0`, correct?

I have poked around in this a bit more today, and have found some arduino pins, A4 and A6 (digital pins D58 & D60) seem to work.

[2018-07-28 21:48] giseburt commented on #371
Yes, define OUTPUTn_PWM that you want to use for the heater as 0.

Motate uses the lookup table in the pin_functions file you mentioned to
setup the correct timer automatically. However if two pins use the same
timer of the same type then you’ll get weird behavior.

Other than PWM, the system only uses a few times. They’re all listed in the
hardware.h file for your board. When possible they use ti

[2018-07-29 21:10] vaughanatworld opened #372 "freertos, hal, stm32"
I am interested in porting g2core to run on freertos.
stcubemx auto generates a hal and configures freertos for the stm32 line of arm cortex machines. This might simplify Motate.
Before I go any further, is there interest and/or has there been any progress made along this line of reasoning?
Thanks
Brian

[2018-07-29 22:11] justinclift commented on #294
We should probably check if this is still an issue, and close (or fix first) as appropriate. :smile:

[2018-07-30 18:44] justinclift commented on #146
Ahhh, I think [this](https://groups.google.com/forum/#!topic/devtinyg/AYOu7hsrbn0) is the old discussion, which I hadn't found when looking previously.

[This](https://groups.google.com/forum/#!topic/devtinyg/rhPChJ2k4F8) seems related too.

[2018-07-31 23:12] vaughanatworld commented on #372
Looking for a free generic development environment leads me to eclipse CDT and gnu compilers. Atmel Studio uses the Visual Studio project mechanism. Has anyone ported g2core to eclipse. Alternatively has anyone converted g2core projects to cmake? I understand cmake can be used with eclipse.

[2018-08-01 01:00] giseburt commented on #372
We recommend Atmel Studio as an available GUI, but it’s not an integral
part of the project. At its base g2core and Motate are makefile based
projects, and it automatically downloads the GCC precompiled by Arm in
order to control exactly which compiler is used. (Otherwise we spend a lot
of extra time maintaining backwards-compatibility with old compilers, and
waiting for the average available comp

[2018-08-02 16:03] vaughanatworld commented on #372
Got g2core to compile for SAM under SW4STM32 using the makefiles. Minimal fiddling.
My interest is in open development tools (no $) and as generic as possible.
The most general choices seem to be GNU/LLVM; Eclipse/Visual Studio; Anything else is becoming a niche player.
The two areas that need standardization is a software package management system and project management. There are lots of solutio

[2018-08-02 16:23] justinclift commented on #372
Any photo's?  I'm wondering if my dodgy hand built shield is still in front as the worlds most dodgy g2core board or not. :grin:

With the RCFoamCutter, any interest in writing info about it somewhere when it's functional then linking to that from the "[Who uses g2core?](https://github.com/synthetos/g2/wiki/g2core-in-use)" page?

[2018-08-03 00:29] jonbob0687 opened #373 "3D printing Hardware - Duet3D"
I too am working towards g2core firmware to control a 3d printer similar to @pbannister. I have been using g2core for several years on my CNC mill and love the firmware. I run it on a due with a custom shield driving copley servo drives.

I am still in the research and design phase of my project and looking at hardware options for the 3d printer.

has anyone looked at running g2core on the Duet3D

[2018-08-05 08:36] breiler opened #374 "Feed value is interpreted as mm/min when using G20"
I'm trying to figure out how the feed speed is interpreted by g2core. In this GCode I'm switching to G20 and then a do a G1 movement two inches at the feed rate of 1000 (which I would assume is 1000 inches/min). In the status report it says that the velocity achieved is 39.37 inches/min.

[code]

If I use the gcode with feed rate 800 `G20G91G1X2F800`, I get the reported velocity of 31.5 inches/min

[2018-08-05 10:48] aldenhart commented on #374
Thanks for pointing this out. We'll take a look.

Update: As I suspected, this is an artifact of the order of execution in Gcode:

<img width="672" alt="orderofexecution" src="https://user-images.githubusercontent.com/232833/43686297-f6175c28-9890-11e8-98cc-ff735c3f9ffd.png">

[NIST RS274NGC Interpreter - Version 3](https://ws680.nist.gov/publication/get_pdf.cfm?pub_id=823374)

The F word is inter

[2018-08-05 19:54] breiler commented on #374
Wow, thanks for digging into this! I'll try to fix the code generating this gcode as you suggested.
Thanks!

[2018-08-18 23:11] smhty opened #375 "M100(...) and status report"
Hi Everyone,

I have a problem with the current edge version:

**Description**
If I change outputs via M100 command, for example M100({out1: 1}), I don't see any update in the status report.
The interesting part is that if I send  M100({do1mo:1}) then I see the update in sr.
I have already included both "out1" and "do1mo" in my status report, and if I manually call {sr:n}, I can see the "out1": 1

[2018-08-18 23:20] justinclift commented on #375
Hmmm, I wonder if this is related to #367?

[2018-08-18 23:31] smhty commented on #375
Hi Justin,
Good point.
I actually send the command in a line format (not json), and I don't see similar behavior in the 100.026 version.
I am using the 100.03, because it works well with issue #346

[2018-08-18 23:42] justinclift commented on #375
Ouch.  Sounds like things are in a bit of a buggy state atm then.  Ugh. :frowning:

[2018-08-19 00:53] giseburt commented on #375
This is a bug. There should be a:

sr_request_status_report(SR_REQUEST_TIMED);

After right before the output exits, here:
https://github.com/synthetos/g2/blob/edge/g2core/gpio.cpp#L510

That will tell the status report subsystem to update and output anything
that’s changed.

If you feel comfortable with gut you can make that change, test it, and
open a pull request.

Either way thank you for poin

[2018-08-19 08:22] smhty commented on #375
Thanks @giseburt  for your comment.
I applied your comment, but still  don't see any difference.
It makes sense to me: I compared  both master and edge versions of the _gpio.cpp_ and if I am right, _io_get_output_ is similar in both versions, and in master  _io_get_output_ does not call any sr_request_status_report(SR_REQUEST_TIMED);
So, I don't think that's the source of the problem.
This is just

[2018-08-19 08:24] justinclift commented on #375
Just make a PR with that change, here #376.

@smhty Would you be ok to test it?  I don't have any CNC nor Due hardware handy atm. Oops. :roll_eyes:

[2018-08-19 08:32] smhty commented on #375
@justinclift, I already did it. As you mentioned, it compiles fine but still doesn't update outputs.
I will do it again tomorrow, and let you know if I see any difference.
Thanks again for all your help, and suggestion.

[2018-08-19 08:35] justinclift commented on #375
Heh Heh Heh

My bad.  I didn't see your comment in time mentioning that.  I was creating the PR at the same time.

It sounds like that PR will need a bit more work then. :wink:

[2018-08-19 12:15] giseburt commented on #367
This is very odd. I’m not sure why G20/G21 would have ever caused a stat
change. I believe the old behavior is a bug.

You *should* however see the `unit` value change in the status report.
Also, since it’s gcode you can put an `Nxxx` in front of it and with the
right `jv` value see that the line was received in the response.

G20/G21 are among the gcode commands that do not participate in a cycle

[2018-09-15 18:15] irshadmgs011 commented on #281
do you compile g2core firmware???

[2018-09-15 20:10] justinclift commented on #281
@irshadmgs011 Out of curiosity, are you trying this too and hitting some kind of problem? :smile:

[2018-09-15 23:24] justinclift commented on #281
No worries.  Do you have the Arduino Due and gShield yet? :smile:

Also, what is "Atom 7"?  Doing a search for that online shows many "Atom" things, so I'm not sure exactly which one to look at. :wink:

[2018-09-16 08:56] irshadmgs011 commented on #281
My illusion was to select the board from the compiler or do it by editing the firmware

[2018-09-16 09:05] irshadmgs011 commented on #281
It was my fault, I mean, I was compiling it with the Atmel studio on Windows 7,
and my english is so weak🤝😭

[2018-09-16 09:11] justinclift commented on #281
No worries.  Both will improve with continued practise. :smile:

[2018-09-16 09:31] irshadmgs011 commented on #281
Can you give your email id???

[2018-09-16 10:32] justinclift commented on #281
Errr, what for? :smile:

My email address shows on my profile page, if that helps?